<template>
    <div class="table-responsive">
        <table class="table table-striped table-xxs">
            <thead class="bg-slate-300">
            <tr>
                <th>#</th>
                <th>Nama Mekanik</th>
                <th>Catatan</th>
                <th>Lama Pekerjaan</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(mechanic, index) in mechanics">
                <td style="width: 3%">
                    {{ index+1 }}
                </td>
                <td>
                    <h6 class="mb-0">{{ mechanic.mechanicName.fullname }}</h6>
                </td>
                <td>
                    <h6 class="mb-0">{{ mechanic.notes }}</h6>
                </td>
                <td>
                    <h6 class="mb-0">{{ mechanic.working_minutes }}</h6>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "MechanicDetail",
        props: {
            mechanics: { type: Array, required: true }
        }
    }
</script>

<style scoped>

</style>