<template>
    <div class="table-responsive">
        <table class="table table-striped table-xxs">
            <thead class="bg-slate-300">
                <tr>
                    <th>#</th>
                    <th>Permasalahan</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(problem, index) in problems">
                    <td style="width: 3%">
                        {{ index + 1 }}
                    </td>
                    <td>
                        <h6 class="mb-0">{{ problem.name }}</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ProblemDetail",
        props: {
            problems: { type: Array, required: true }
        }
    }
</script>