<template>
    <div class="table-responsive mb-5">
        <table class="table table-striped table-xxs">
            <thead class="bg-orange-300">
            <tr>
                <th>#</th>
                <th>Jasa</th>
                <th>Estimasi Biaya</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(service, index) in services">
                <td style="width: 3%;">
                    {{ index+1 }}
                </td>
                <td>
                    <h6 class="mb-0">{{ service.service.name }}</h6>
                    <h6 class="text-muted font-size-sm">note: {{ service.notes }}</h6>
                </td>
                <td class="text-right"><span class="font-weight-semibold">Rp. {{ moneyFormated(service.estimated_price) }}</span></td>
            </tr>
            </tbody>
            <tfoot>
                <tr class="bg-info-800">
                    <td colspan="2">
                        <h6 class="mb-0">Potongan (-)</h6>
                    </td>
                    <td class="text-right"><span class="font-weight-semibold">Rp. {{ moneyFormated(service_discount) }}</span></td>
                </tr>
                <tr class="bg-info-300">
                    <td colspan="2">
                        <h6 class="mb-0">Total Estimasi Service</h6>
                    </td>
                    <td class="text-right"><span class="font-weight-bold">Rp. {{ totalServices }}</span></td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ServiceDetail",
        props: {
            services: { type: Array, required: true },
            service_discount: { type: Number }
        },
        methods: {
            moneyFormated(price) {
                return parseInt(price).toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.")
            }
        },
        computed: {
            totalServices() {
                let sum = 0;
                this.services.forEach((row) => {
                    sum += row.estimated_price;
                });

                sum = sum - this.service_discount;

                return sum.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.");
            }
        }
    }
</script>