<template>
    <div class="table-responsive m-t-5">
        <table class="table table-striped table-xxs">
            <thead class="bg-purple-300">
            <tr>
                <th>#</th>
                <th>Parts & Bahan</th>
                <th>Quantity</th>
                <th>Estimasi Biaya</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(part, index) in spareparts">
                <td style="width: 3%">
                    {{ index+1 }}
                </td>
                <td>
                    <h6 class="mb-0">{{ part.part_name }}</h6>
                </td>
                <td class="text-center">{{ part.quantities }} {{ part.qty_label}}</td>
                <td class="text-right"><span class="font-weight-semibold">Rp. {{ moneyFormated(part.estimated_price) }}</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="bg-info-800">
                <td colspan="3">
                    <h6 class="mb-0">Potongan (-)</h6>
                </td>
                <td class="text-right"><span class="font-weight-semibold">Rp. {{ moneyFormated(part_discount) }}</span></td>
            </tr>
                <tr class="bg-info-300">
                    <td colspan="3">
                        <h6 class="mb-0">Total Estimasi Sparepart</h6>
                    </td>
                    <td class="text-right"><span class="font-weight-semibold">Rp. {{ total }}</span></td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    export default {
        name: "SparepartDetail",
        props: {
            spareparts: { type: Array, required: true },
            part_discount: { type: Number }
        },
        methods: {
            moneyFormated(price) {
                return parseInt(price).toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.")
            }
        },
        computed: {
            total() {
                let sum = 0;
                this.spareparts.forEach((row) => {
                    sum += row.estimated_price;
                });

                sum = sum - this.part_discount;

                return sum.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.");
            }
        }
    }
</script>