<template>
    <div class="list-feed list-feed-time">
        <template v-for="(statusLog, index) in statusLogs">
            <div class="list-feed-item" style="margin-left: 10.25rem;">
                <span class="feed-time text-muted font-size-sm" style="left: -10.25rem;">{{ statusLog.created_date }} {{ statusLog.created_time }}</span>
                Perubahan Status menjadi <span class="badge font-weight-bold" :class="statusLog.statusName.colour">{{ statusLog.statusName.name }}</span> Oleh <span class="font-weight-semibold text-warning">{{ statusLog.changed_by }} </span> Catatan: <span class="font-weight-semibold text-violet">{{ statusLog.notes }}</span>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "StatusLogDetail",
        props: {
            statusLogs: { type: Array, required: true }
        }
    }
</script>