<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-violet">
                    <h6 class="card-title">Work Order Attribute</h6>
                </div>
                <table class="table table-bordered table-striped table-xxs my-2">
                    <tbody>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-calendar3 mr-2"></i> Tanggal Datang:</td>
                        <td class="text-right">{{ workOrder.arrived_date }}</td>
                    </tr>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-alarm-check mr-2"></i> Waktu Datang:</td>
                        <td class="text-right">{{ workOrder.arrived_time }}</td>
                    </tr>
                    <tr>
                        <td><i class="icon-users4 mr-2"></i> Driver Pengantar:</td>
                        <td class="text-right">{{ workOrder.driver }}</td>
                    </tr>
                    <tr>
                        <td><i class="icon-users4 mr-2"></i> Telepon Driver:</td>
                        <td class="text-right">{{ workOrder.driver_phone }}</td>
                    </tr>
                    <tr>
                        <td><i class="icon-alarm mr-2"></i> Estimasi Pengerjaan:</td>
                        <td class="text-right">{{ workOrder.estimated_time.hours }} Jam {{
                            workOrder.estimated_time.minutes }} Menit
                        </td>
                    </tr>
                    <tr>
                        <td><i class="icon-location4 mr-2"></i> Km. Saat Datang:</td>
                        <td class="text-right">{{ workOrder.latest_millage }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-violet header-elements-inline">
                    <h6 class="card-title">Estimasi Pengerjaan</h6>
                </div>
                <table class="table table-bordered table-striped table-xxs my-2">
                    <tbody>
                    <tr>
                        <td>Estimasi Jasa/Service</td>
                        <td class="text-right">{{
                            workOrder.service_price.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.") }}
                        </td>
                    </tr>
                    <tr>
                        <td>Estimasi Bahan & Sparepart</td>
                        <td class="text-right">{{ workOrder.part_price.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g,
                            "$1.") }}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="bg-warning">Potongan Service</td>
                        <td class="text-right bg-warning">{{ workOrder.service_discount.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.")}}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-warning">Potongan Sparepart</td>
                        <td class="text-right bg-warning">{{ workOrder.part_discount.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.")}}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-success">Total</td>
                        <td class="text-right bg-success font-weight-bold">{{ workOrder.total_price.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.")}}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "WorkOrderDetail",
        props: {
            workOrder: {type: Object, required: true}
        }
    }
</script>