<template>
    <div>
        <table id="work-order-table" class="table table-orders-history text-nowrap">
            <thead>
            <tr>
                <th>Status</th>
                <th>Service Advisor</th>
                <th>Work Order</th>
                <th>Kendaraan</th>
                <th>Action</th>
                <th>Estimasi Selesai</th>
            </tr>
            </thead>
        </table>
        <modal-mechanics></modal-mechanics>
        <modal-status></modal-status>
        <modal-parts></modal-parts>
        <modal-time-estimated></modal-time-estimated>
        <modal-detail></modal-detail>
        <detail-vehicle-owner></detail-vehicle-owner>
    </div>
</template>

<script>
    import { EventBus } from "../../eventbus";
    import ModalMechanics from "../work-order/partials/ModalMechanics";
    import ModalStatus from "../work-order/partials/ModalStatus";
    import axios from 'axios';
    import ModalTimeEstimated from "../work-order/partials/ModalTimeEstimated";
    import ModalDetail from "../work-order/partials/ModalDetail";
    import DetailVehicleOwner from "../vehicle/DetailVehicleOwner";
    import ModalParts from "../work-order/partials/ModalParts";

    export default {
        name      : "DashboardWorkOrder",
        components: {
            ModalParts,
            DetailVehicleOwner,
            ModalDetail,
            ModalTimeEstimated, ModalStatus, ModalMechanics },
        props     : [
            "ajax"
        ],
        data: function () {
            return {
                table     : null,
                params    : {
                    status_id: null
                },
                datatables: (filter) => {
                    const vm = this;

                    const showModal = function() {
                        $('.show-modal').on('click', function(e) {
                            e.preventDefault();
                            let dataEvent = $(this).data('event');
                            let dataContent = $(this).data('content');
                            let dataUrl = $(this).data('url');

                            if (typeof dataUrl !== "undefined") {
                                axios.get(dataUrl)
                                     .then((response) => {
                                         if (response.data.success) {
                                             EventBus.$emit(dataEvent, { vehicle: response.data.data });
                                             return;
                                         }
                                     })
                            } else {
                                EventBus.$emit(dataEvent, dataContent);
                            }
                        });
                    };

                    function modalServices() {
                        $('.modal-services').on('click', function () {
                            let work_order_id = $(this).data('work-order');

                            axios.get(`work-order/services/${work_order_id}`).then((response) => {
                                EventBus.$emit("WORK-ORDER:SERVICES", {
                                    data: response.data.data,
                                    workOrderId: work_order_id
                                });
                            });
                        });
                    }

                    function modalParts() {
                        $('.modal-spareparts').on('click', function () {
                            let work_order_id = $(this).data('work-order');

                            axios.get(`work-order/spareparts/${work_order_id}`).then((response) => {
                                EventBus.$emit("WORK-ORDER:SPAREPARTS", {
                                    data: response.data.data,
                                    workOrderId: work_order_id
                                });
                            });
                        });
                    }

                    function modalProblems() {
                        $('.modal-problems').on('click', function () {
                            let work_order_id = $(this).data('work-order');

                            axios.get(`work-order/problems/${work_order_id}`).then((response) => {
                                EventBus.$emit("WORK-ORDER:PROBLEMS", {
                                    data: response.data.data,
                                    workOrderId: work_order_id
                                });
                            });
                        });
                    }

                    function modalMechanics() {
                        $('.modal-mechanics').on('click', function () {
                            let work_order_id = $(this).data('work-order');

                            axios.get(`work-order/mechanics/${work_order_id}`).then((response) => {
                                EventBus.$emit("WORK-ORDER:MECHANICS", {
                                    data: response.data.data,
                                    workOrderId: work_order_id
                                });
                            });
                        });
                    }

                    function modalStatus() {
                        $('.modal-status').on('click', function () {
                            let status = $(this).data('wo-status');

                            EventBus.$emit("WORK-ORDER:STATUS", status);
                        });
                    }

                    function modalEstimated() {
                        $('.modal-estimated').on('click', function () {
                            let content = $(this).data('content');

                            EventBus.$emit("WORK-ORDER:ESTIMATED", content);
                        });
                    }

                    function modalDetail() {
                        $('.modal-detail').on('click', function () {
                            let work_order_url = $(this).data('work-order');

                            axios.get(work_order_url).then((response) => {
                                EventBus.$emit("WORK-ORDER:DETAIL", {
                                    data: response.data.data,
                                });
                            });
                        });
                    }

                    let draw_counter = 0;
                    $.extend($.fn.dataTable.defaults, {
                        autoWidth    : false,
                        displayLength: 25,
                        dom          : '<"datatable-header datatable-header-accent"fBlr><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                        columnDefs   : [
                            {searchable: false, orderable: false, targets: [0, 3, 4]}
                        ],
                        language     : {
                            search           : '<span>Pencarian:</span> _INPUT_',
                            searchPlaceholder: 'Cari No. WO/No. Polisi',
                            lengthMenu       : '<span>Tampilkan:</span> _MENU_',
                            paginate         : {
                                'first'   : 'Pertama',
                                'last'    : 'Terakhir',
                                'next'    : $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;',
                                'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;'
                            }
                        }
                    });

                    this.table = $('#work-order-table').DataTable({
                        serverSide    : true,
                        processing    : true,
                        stateSave     : true,
                        pageLength    : 25,
                        order         : [[1, "desc"]],
                        ajax          : {
                            url : this.ajax,
                            data: {
                                filter
                            }
                        },
                        columns       : [
                            {data: 'status', className: "font-weight-bold"},
                            {data: 'service_advisor', className: "text-nowrap"},
                            {data: 'code', className: "text-nowrap"},
                            {data: 'plate_number', className: "text-nowrap"},
                            {data: 'detail', className: "text-center"},
                            {data: 'minutes_estimated', className: "text-nowrap text-center"},
                        ],
                        scrollX       : true,
                        scrollY       : '350px',
                        scrollCollapse: true,
                        fixedColumns  : {
                            leftColumns : 0,
                            rightColumns: 1
                        },
                        initComplete  : function () {

                        },
                        drawCallback  : function () {
                            if (draw_counter !== this.fnSettings().iDraw) {
                                modalServices();
                                modalParts();
                                modalProblems();
                                modalMechanics();
                                modalStatus();
                                modalEstimated();
                                modalDetail();
                                showModal();
                                draw_counter = this.fnSettings().iDraw;
                            }
                        },
                        destroy: true
                    });
                }
            }
        },
        mounted() {
            this.datatables(this.params);
        },
        created() {
            EventBus.$on("DATATABLE:RELOAD", () => {
                this.table.ajax.reload();
            });

            EventBus.$on("filter::datatables", (payload) => {
                console.log(payload.id);
                this.params.status_id = payload.id;
                this.datatables(this.params);
            });
        }
    }
</script>