<template>
    <div class="card">
        <div class="card-header header-elements-sm-inline">
            <h6 class="card-title">Data Work Order Belum Selesai</h6>
            <div class="header-elements">
                <span class="badge bg-success badge-pill">{{ workOrders.length }} Aktif</span>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                <tr>
                    <th>Work Order</th>
                    <th>Kendaraan</th>
                    <th>Driver</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(workOrder, index) in workOrders">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <a href="javascript:">

                                </a>
                            </div>
                            <div>
                                <a href="javascript:" class="text-default font-weight-semibold">{{ workOrder.code }}</a>
                                <div class="text-muted font-size-sm">
                                    <span class="badge badge-mark border-blue mr-1"></span>
                                    {{ workOrder.created_at }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="text-violet-600">{{ workOrder.plate_number }}</span>
                        <div class="text-muted font-size-sm">
                            <span class="badge badge-mark border-green-800 mr-1"></span>
                            {{ workOrder.owner_name }}
                        </div>
                    </td>
                    <td>
                        <span class="text-success-600">{{ workOrder.driver }}</span>
                        <div class="text-muted font-size-sm">
                            <span class="badge badge-mark border-blue-700 mr-1"></span>
                            {{ workOrder.driver_phone }}
                        </div>
                    </td>
                    <td><span class="badge" :class="workOrder.status.colour">{{ workOrder.status.name }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name : "GridWO",
        props: {
            workOrders: {
                type: Array
            }
        }
    }
</script>