<template>
    <div class="header-elements d-none">
        <form action="#">
            <div class="form-group form-group-feedback form-group-feedback-right">
                <select2 url="/api/search"
                         v-model="query"
                         width="resolve"
                         name="search"
                         placeholder="No. Chassis/No. Polisi/Nama Owner"
                         class="form-control wmin-md-400"
                         min="0"
                         broadcast="1"
                >
                </select2>
                <div class="form-control-feedback">
                    <i class="icon-search4 font-size-sm text-muted"></i>
                </div>
            </div>
        </form>
        <detail-vehicle-owner></detail-vehicle-owner>
    </div>
</template>

<script>
    import select2 from "../Select2Component";
    import { EventBus } from "../../eventbus";
    import axios from 'axios';
    import DetailVehicleOwner from "../vehicle/DetailVehicleOwner";

    export default {
        name: "HeaderSearch",
        components: {DetailVehicleOwner, select2 },
        data() {
            return {
                query: "data"
            }
        },
        created() {
            this.$root.$on('select2::selected', (payload) => {
                axios.get(`${window.baseUrl}/vehicles/show/${payload.id}`)
                    .then((response) => {
                        EventBus.$emit('vehicle-owner:detail', { vehicle: response.data.data })
                    });
            });
        }

    }
</script>