<template>
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Kendaraan Masuk</h6>
        </div>

        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                <tr>
                    <th class="w-100">Kendaraan</th>
                    <th>Waktu</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(customer, index) in customers">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <a href="javascript:" class="btn rounded-round btn-icon btn-sm" :class="colours[Math.floor(Math.random()*colours.length)]">
                                    <span class="icon-car"></span>
                                </a>
                            </div>
                            <div>
                                <a href="javascript:" class="text-default font-weight-semibold letter-icon-title">{{
                                    customer.plate_number }}</a>
                                <div class="text-muted font-size-sm"><i class="icon-user-check font-size-sm mr-1"></i>
                                    Owner: {{ customer.fullname }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="text-muted font-size-sm">{{ customer.created_at }}</span>
                        <h6 class="font-weight-semibold mb-0"></h6>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name : "NewCostumer",
        props: {
            customers: {
                type   : Array,
                default: () => {
                    return [];
                }
            }
        },
        data() {
            return {
                colours: [
                    'bg-warning', 'bg-violet', 'bg-blue', 'bg-success', 'bg-orange', 'bg-teal', 'bg-green', 'bg-info'
                ]
            }
        }
    }
</script>