<template>
    <div id="chart">
        <apexchart type=pie width=300 :options="chartOptions" :series="series" />
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts';

    export default {
        name: "TopBrandVehicle",
        components: { apexchart: VueApexCharts },
        props: {
            chart: { type: Object }
        },
        data() {
            return {
                series: this.chart.series,
                chartOptions: {
                    labels: this.chart.labels,
                    legend: {
                        position: 'bottom'
                    },
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                }
            }
        },
    }
</script>