<template>
    <apexcharts type=bar height=350 :options="chartData.chartOptions" :series="chartData.series" />
</template>

<script>
    import VueApexCharts from 'vue-apexcharts';
    import axios from 'axios';

    export default {
        name: "TotalVehiclesDays",
        components: { apexcharts: VueApexCharts },
        props: {
            name: {
                type: String
            },
            data: {
                type: Array
            }
        },
        methods: {
            fetch() {
                axios.get(`${window.baseUrl}/api/vehicle-stats`)
                    .then((response) => {
                        this.chartData.series = [ response.data ];
                    });
            }
        },
        data() {
            return {
                chartName: "",
                chartSeries: {},
                chartData: {
                    series: [],
                    chartOptions: {
                        chart: {
                            height: 350,
                            type: 'bar',
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    position: 'top', // top, center, bottom
                                },
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            formatter: function (val) {
                                return val;
                            },
                            offsetY: -20,
                            style: {
                                fontSize: '12px',
                                colors: ["#304758"]
                            }
                        },

                        xaxis: {
                            categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                            position: 'top',
                            labels: {
                                offsetY: -18,

                            },
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false
                            },
                            crosshairs: {
                                fill: {
                                    type: 'gradient',
                                    gradient: {
                                        colorFrom: '#D8E3F0',
                                        colorTo: '#BED1E6',
                                        stops: [0, 200],
                                        opacityFrom: 0.4,
                                        opacityTo: 0.5,
                                    }
                                }
                            },
                            tooltip: {
                                enabled: true,
                                offsetY: -35,

                            }
                        },
                        toolbar: {
                            show: false,
                            tools: {
                                download: false
                            }
                        },
                        fill: {
                            gradient: {
                                enabled: false,
                                shade: 'light',
                                type: "horizontal",
                                shadeIntensity: 0.25,
                                gradientToColors: undefined,
                                inverseColors: true,
                                opacityFrom: 1,
                                opacityTo: 1,
                                stops: [50, 0, 100, 100]
                            },
                        },
                        yaxis: {
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false,
                            },
                            tickAmount: 10,
                            max: 200,
                            min: 0,
                            labels: {
                                show: true,
                                formatter: function (val) {
                                    return val;
                                }
                            }

                        },
                        title: {
                            text: "Total Kendaraan Per bulan tahun 2017",
                            floating: true,
                            offsetY: 320,
                            align: 'center',
                            style: {
                                color: '#444'
                            }
                        }
                    }
                }
            }
        },
        mounted() {
            this.fetch();
        }
    }
</script>