<template>
    <div class="card card-body has-bg-image cursor-pointer" :class="color" v-on:click="filter">
        <div class="media">
            <div class="media-body">
                <h3 class="mb-0">{{ textTotal }}</h3>
                <span class="text-uppercase font-size-xs">{{ text }}</span>
            </div>

            <div class="ml-3 align-self-center">
                <i class="icon-3x opacity-75" :class="icon"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from "../../eventbus";

    export default {
        name   : "Widget",
        props  : {
            color: {type: String},
            text : {type: String},
            total: {type: String},
            icon : {type: String},
            id   : {type: String}
        },
        data() {
            return {
                textTotal: this.total
            }
        },
        methods: {
            filter() {
                EventBus.$emit("filter::datatables", {
                    id: this.id
                });
            }
        },
        created() {
            EventBus.$on("status::changed", (data) => {
                let status = data.data[this.id - 1];
                if (parseInt(this.id) === status.id) {
                    console.log(status.total);
                    this.textTotal = status.total;
                }
            });
        }
    }
</script>