<template>
    <b-modal ref="modalPosition" :title="actionLabel" size="lg" header-class="bg-violet-300" hide-footer>
        <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
            <input type="hidden" name="id" v-model="form.id">
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Nama Posisi: <span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <input type="text" name="name" v-model="form.name" data-vv-as="Nama Jabatan"
                           v-validate="'required'" placeholder="Nama Jabatan" class="form-control">
                    <span v-show="errors.has('name')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('name') }}
                    </span>
                </div>
                <div class="col-md-4">
                    <label>Inisial: <span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <input type="text" name="initials" v-model="form.initials" data-vv-as="Inisial Unit/Jabatan"
                           v-validate="'required'" placeholder="Inisial Unit/Jabatan" class="form-control">
                    <span v-show="errors.has('initials')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('initials') }}
                    </span>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary"><span class="text-uppercase">{{ actionLabel }}</span> <i
                        class="icon-floppy-disk ml-2"></i></button>
            </div>
        </form>
    </b-modal>
</template>

<script>
    const initialForm = {
        id: null,
        name: "",
        initials: ""
    };

    import {EventBus} from "../../../eventbus";
    import axios from 'axios';

    export default {
        name: "ModalFormPosition",
        data() {
            return {
                form: initialForm,
                actionLabel: null,
            }
        },
        methods: {
            reload() {
                this.form = {};
                this.$refs.modalPosition.hide();
                EventBus.$emit('datatables::reload');
            },
            store() {
                axios.post(`${window.baseUrl}/master/positions`, {
                    form: this.form
                }).then((response) => {
                    if (response.data.success) {
                        swal({
                            type: "success",
                            title: response.data.title,
                            text: response.data.message
                        }).then(() => {
                            this.reload();
                        });
                    }
                });
            },
            update() {
                axios.patch(`${window.baseUrl}/master/positions/${this.form.id}`, {
                    form: this.form
                }).then((response) => {
                    if (response.data.success) {
                        swal({
                            type: "success",
                            title: response.data.title,
                            text: response.data.message
                        }).then(() => {
                            this.reload();
                        });
                    }
                })
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.form.id)
                            this.update();
                        else
                            this.store();

                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            },
        },
        created() {
            EventBus.$on('position::add', () => {
                this.actionLabel = "Tambah Jabatan";
                this.form = initialForm;
                this.$refs.modalPosition.show();
            });

            EventBus.$on('position::edit', (payload) => {
                this.actionLabel = "Edit Jabatan";
                this.form = payload.data;
                this.$refs.modalPosition.show();
            });

            EventBus.$on('position::remove', (payload) => {
                swal({
                    title: 'Yakin akan menghapus?',
                    text: "Anda akan menghapus data jabatan/unit",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, Hapus Data'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(payload.url)
                            .then((response) => {
                                swal({
                                    type: "success",
                                    text: response.data.message,
                                    title: response.data.title
                                }).then(() => {
                                    EventBus.$emit('datatables::reload');
                                });
                            })
                    }
                });
            });

            EventBus.$on('position::status', (payload) => {
                swal({
                    title: 'Yakin mengganti status?',
                    text: "Anda akan mengubah status data jabatan/unit",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, Ubah Status'
                }).then((result) => {
                    if (result.value) {
                        axios.post(payload.url)
                            .then((response) => {
                                swal({
                                    type: "success",
                                    text: response.data.message,
                                    title: response.data.title
                                }).then(() => {
                                    EventBus.$emit('datatables::reload');
                                });
                            })
                    }
                })
            });

            this.$root.$on('bv::modal::hidden', () => {
                this.reload();
            });
        }
    }
</script>