<template>
    <b-modal ref="modalEmployees" size="full" :title="actionLabel" header-class="bg-violet-300" hide-footer>
        <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
            <input type="hidden" name="id" v-model="form.id">
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Nama Lengkap: <span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <select2 :options="options.salutation"
                             data-vv-as="Salutasi"
                             v-validate="'required'"
                             name="salutation_id"
                             placeholder="Salutasi"
                             class="form-control"
                             v-model="form.salutation_id">
                    </select2>
                    <span v-show="errors.has('salutation_id')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('salutation_id') }}
                        </span>
                </div>
                <div class="col-md-8">
                    <label>&nbsp;</label>
                    <input type="text" name="fullname" v-model="form.fullname" data-vv-as="Nama Lengkap"
                           v-validate="'required'" placeholder="Nama Lengkap" class="form-control">
                    <span v-show="errors.has('fullname')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('fullname') }}
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Position/Jabatan: <span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <select2 :options="form.position"
                             data-vv-as="Posisi/Jabatan"
                             v-validate="'required'"
                             name="position_id"
                             placeholder="Posisi/Jabatan"
                             class="form-control"
                             v-model="form.position_id"
                             :url="urlPosition"
                             min="0"
                    >
                    </select2>
                    <span v-show="errors.has('position_id')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('position_id') }}
                        </span>
                </div>
                <div class="col-md-8">
                    <label>Nomor Kartu Identitas:</label>
                    <input type="text" name="identity_card_number" v-model="form.identity_card_number" placeholder="Nomor Kartu Identitas"
                           class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label>Alamat:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                <textarea class="form-control" name="address" v-model="form.address" data-vv-as="Alamat"
                          v-validate="'required'" placeholder="Alamat Karyawan" rows="3"></textarea>
                <span v-show="errors.has('address')" class="form-text text-danger"><i
                        class="icon-cancel-circle2 font-size-sm"></i>
                    {{ errors.first('address') }}
                </span>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>Inisial Nama:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <input type="text" placeholder="Initial Nama" name="initials"
                           v-model="form.initials" data-vv-as="Inisial Nama" v-validate="'required'"
                           class="form-control">
                    <span v-show="errors.has('initials')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('initials') }}
                    </span>
                </div>
                <div class="col-md-6">
                    <label>Telepon:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>

                    <input type="text" placeholder="Masukkan No. Telepon/Mobile Phone" name="phone_number"
                           v-model="form.phone_number" data-vv-as="No. Telepon/HP" v-validate="'required'"
                           class="form-control">
                    <span v-show="errors.has('phone_number')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('phone_number') }}
                    </span>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary"><span class="text-uppercase">{{ actionLabel }}</span> <i class="icon-floppy-disk ml-2"></i></button>
            </div>
        </form>
    </b-modal>
</template>

<script>
    const initialForm = {
        id                  : null,
        fullname            : "",
        initials            : "",
        salutation_id       : "",
        position_id         : null,
        identity_card_number: null,
        phone_number        : null,
        address             : null,
    };

    import { EventBus } from "../../../eventbus";
    import axios from 'axios';
    import select2 from '../../Select2Component';

    const options = JSON.parse(window.__INITIAL_OPTIONS__) || {};

    export default {
        name: "ModalFormEmployee",
        components: { select2 },
        data() {
            return {
                urlPosition: `${window.baseUrl}/api/positions`,
                form: initialForm,
                options: options.options,
                actionLabel: null,
            }
        },
        methods: {
            reload() {
                this.form = {};
                this.$refs.modalEmployees.hide();
                EventBus.$emit('datatables::reload');
            },
            store() {
                axios.post(`${window.baseUrl}/employees`, {
                    form: this.form
                }).then((response) => {
                    if (response.data.success) {
                        swal({
                            type: "success",
                            title: response.data.title,
                            text: response.data.message
                        }).then(() => {
                            this.reload();
                        });
                    }
                });
            },
            update() {
                axios.patch(`${window.baseUrl}/employees/${this.form.id}`, {
                    form: this.form
                }).then((response) => {
                    if (response.data.success) {
                        swal({
                            type: "success",
                            title: response.data.title,
                            text: response.data.message
                        }).then(() => {
                            this.reload();
                        });
                    }
                })
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.form.id)
                            this.update();
                        else
                            this.store();

                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            },
        },
        created() {
            EventBus.$on('employee::add', () => {
                this.actionLabel = "Tambah Karyawan";
                this.form = initialForm;
                this.$refs.modalEmployees.show();
            });

            EventBus.$on('employee::edit', (payload) => {
                this.actionLabel = "Edit Karyawan";
                this.form = payload.data;
                this.$refs.modalEmployees.show();
            });

            EventBus.$on('employee::remove', (payload) => {
                swal({
                    title: 'Yakin akan menghapus?',
                    text: "Anda akan menghapus data karyawan",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, Hapus Data'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(payload.url)
                            .then((response) => {
                                swal({
                                    type: "success",
                                    text: response.data.message,
                                    title: response.data.title
                                }).then(() => {
                                    EventBus.$emit('datatables::reload');
                                });
                            })
                    }
                });
            });

            EventBus.$on('employee::status', (payload) => {
                swal({
                    title: 'Yakin mengganti status?',
                    text: "Anda akan mengubah status data karyawan",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, Ubah Status'
                }).then((result) => {
                    if (result.value) {
                        axios.post(payload.url)
                            .then((response) => {
                                swal({
                                    type: "success",
                                    text: response.data.message,
                                    title: response.data.title
                                }).then(() => {
                                    EventBus.$emit('datatables::reload');
                                });
                            })
                    }
                })
            });

            this.$root.$on('bv::modal::hidden', () => {
                this.reload();
            });
        }
    }
</script>