<template>
    <b-modal ref="userForm" header-class="bg-teal" size="lg" hide-footer no-enforce-focus>
        <div class="card-body">
            <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
                <input type="hidden" name="id" v-model="form.id">
                <fieldset>
                    <legend class="font-weight-semibold text-uppercase font-size-sm">Informasi User</legend>

                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" v-validate="'required'" data-vv-as="Username" v-model="form.username">
                        <label class="validation-invalid-label" v-show="errors.has('username')">{{ errors.first('username') }}</label>
                    </div>

                    <div class="form-group">
                        <label>Nama Lengkap User:</label>
                        <input type="text" class="form-control" name="name" placeholder="Nama Lengkap" v-validate="'required'" data-vv-as="Nama Lengkap" v-model="form.name">
                        <label class="validation-invalid-label" v-show="errors.has('name')">{{ errors.first('name') }}</label>
                    </div>


                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="email" placeholder="Email" v-validate="'required|email'" data-vv-as="Email" v-model="form.email">
                        <label class="validation-invalid-label" v-show="errors.has('email')">{{ errors.first('email') }}</label>
                    </div>

                    <div class="form-group">
                        <label>Role:</label>
                        <select2 class="form-control" name="role" placeholder="Role user" v-validate.disable="'required'" v-model="form.role" :options="form.roles" :url="urlRole" :value="form.role" min="0">
                        </select2>
                        <label class="validation-invalid-label" v-show="errors.has('role')">{{ errors.first('role') }}</label>
                    </div>
                </fieldset>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span class="text-uppercase">{{ actionLabel }}</span> <i class="icon-floppy-disk ml-2"></i></button>
                </div>
            </form>
        </div>
    </b-modal>
</template>

<script>
    const initForm = {
        id: null,
        role: null
    };

    import { EventBus } from "../../../eventbus";
    import axios from 'axios';
    import select2 from '../../Select2Component';

    export default {
        name: "FormUsers",
        components: { select2 },
        data() {
            return {
                form: initForm,
                actionLabel: '',
                seen: true,
                userId: null,
                urlRole: `${window.baseUrl}/api/roles`,
            }
        },
        methods: {
            store() {
                axios.post(`${window.baseUrl}/settings/users`, this.form)
                    .then((response) => {
                        if (response.data.success) {
                            swal({
                                type: "success",
                                title: response.data.title,
                                text: response.data.message,
                                showCancelButton: true,
                                confirmButtonText: response.data.confirmLabel,
                                cancelButtonText: response.data.cancelLabel,
                                reverseButtons: true
                            })
                                .then((result) => {
                                    if (result.value)
                                        this.form = initForm;
                                    else if (result.dismiss === swal.DismissReason.cancel)
                                        this.$refs.userForm.hide()
                                });
                        }
                    }).catch((error) => {
                    console.log(error);
                });
            },
            update() {
                axios.patch(`${window.baseUrl}/settings/users/${this.userId}`, this.form)
                    .then((response) => {
                        if (response.data.success) {
                            swal({
                                title: response.data.title,
                                text: response.data.message,
                                type: 'success',
                            }).then(() => {
                                this.form = initForm;
                                this.$refs.userForm.hide();
                            })
                        }
                    }).catch((error) => {
                    console.error(error)
                })
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.userId !== null)
                            this.update();
                        else
                            this.store();
                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            }
        },
        created() {
            EventBus.$on("user::edit", (payload) => {
                this.form = payload.data;
                this.userId = payload.id;
                this.actionLabel = "EDIT USER";
                this.seen = false;
                this.$refs.userForm.show();
            });

            EventBus.$on("user::add", () => {
                this.form = initForm;
                this.seen = true;
                this.actionLabel = "TAMBAH USER";
                this.$refs.userForm.show();
            });

            EventBus.$on("users::remove", (payload) => {
                swal({
                    title: 'Yakin akan menghapus?',
                    text: "Anda akan menghapus data User",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, Hapus Data'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(payload.url)
                            .then((response) => {
                                swal({
                                    type: "success",
                                    text: response.data.message,
                                    title: response.data.title
                                }).then(() => {
                                    EventBus.$emit('datatables::reload');
                                });
                            })
                    }
                });
            });

            this.$root.$on("bv::modal::hidden", () => {
                this.form = initForm;
                EventBus.$emit("datatables::reload");
            } );
        }
    }
</script>