<template>
    <b-modal ref="userResetPasswordForm" header-class="bg-teal" hide-footer no-enforce-focus>
        <div class="card-body">
            <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
                <input type="hidden" name="id" v-model="userId">
                <fieldset>
                    <legend class="font-weight-semibold text-uppercase font-size-sm">Informasi User</legend>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" v-validate="'required'" v-model="form.password" ref="password">
                        <label class="validation-invalid-label" v-show="errors.has('password')">{{ errors.first('password') }}</label>
                    </div>

                    <div class="form-group">
                        <label>Ulangi Password:</label>
                        <input type="password" class="form-control" name="password_repeat" placeholder="Ulangi Password" v-validate="'required|confirmed:password'" v-model="form.password_repeat" >
                        <label class="validation-invalid-label" v-show="errors.has('password_repeat')">{{ errors.first('password_repeat') }}</label>
                    </div>
                </fieldset>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span class="text-uppercase">RESET PASSWORD</span> <i class="icon-floppy-disk ml-2"></i></button>
                </div>
            </form>
        </div>
    </b-modal>
</template>

<script>
    import { EventBus } from "../../../eventbus";
    import axios from 'axios';

    export default {
        name: "ResetPassword",
        data() {
            return {
                form: {},
                userId: null
            }
        },
        methods: {
            resetPassword() {
                axios.patch(`${window.baseUrl}/settings/users/reset`, {
                    id: this.userId,
                    form: this.form
                }).then((response) => {
                    if (response.data.success) {
                        swal({
                            'type': 'success',
                            'title': response.data.title,
                            'text': response.data.message
                        }).then(() => {
                            this.form = {};
                            this.$refs.userResetPasswordForm.hide();
                        });
                    }
                });
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (typeof this.userId !== "undefined")
                            this.resetPassword();

                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            }
        },
        created() {
            EventBus.$on("user::reset-password", (payload) => {
                this.userId = payload.id;
                this.$refs.userResetPasswordForm.show();
            });

            this.$root.$on("bv::modal::hidden", () => {
                this.form = {};
                EventBus.$emit("datatables::reload");
            } );
        }
    }
</script>