<template>
    <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
        <div class="card-body">
            <fieldset>
                <legend class="font-weight-semibold text-uppercase font-size-sm bg-teal p-2">
                    <i class="icon-truck mr-2"></i>
                    Informasi Mobil
                    <a href="javascript:" class="float-right text-default" data-toggle="collapse" data-target="#kendaraan">
                        <i class="icon-circle-down2"></i>
                    </a>
                </legend>
                <div class="collapse show" id="kendaraan">
                    <div class="form-group">
                        <label>V.I.N</label>
                        <input type="text" class="form-control" name="vin_number" data-vv-as="Nomor Chassis" v-validate="'required'"
                               v-model="vehicle.vin_number" placeholder="Masukkan V.I.N/No. Chassis">

                        <span v-show="errors.has('vin_number')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('vin_number') }}
                    </span>
                    </div>

                    <div class="form-group">
                        <label>No. Mesin:</label>
                        <input type="text" class="form-control" name="engine_number" v-model="vehicle.engine_number"
                               data-vv-as="Nomor Chassis" v-validate="'required'" placeholder="Masukkan No. Mesin">

                        <span v-show="errors.has('engine_number')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('engine_number') }}
                    </span>
                    </div>

                    <div class="form-group">
                        <label>No. Polisi:</label>
                        <input type="text" class="form-control" name="plate_number" v-model="vehicle.plate_number" data-vv-as="Nomor Polisi"
                               v-validate="'required'" placeholder="Masukkan No. Plat Mobil">

                        <span v-show="errors.has('plate_number')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('plate_number') }}
                    </span>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Merek Kendaraan:</label>
                            <select2 url="/api/brands" data-vv-as="Merek Kendaraan" v-validate="'required'"
                                     name="brand_id" placeholder="Pilih Brand Kendaraan" class="form-control"
                                     v-model="vehicle.brand_id">
                            </select2>

                            <span v-show="errors.has('brand_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('brand_id') }}
                        </span>
                        </div>

                        <div class="col-md-6">
                            <label>Tipe:</label>
                            <input type="text" class="form-control" name="brand_series" v-model="vehicle.brand_series"
                                   data-vv-as="Tipe Brand" v-validate="'required'" placeholder="ex: Honda Civic">

                            <span v-show="errors.has('brand_series')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('brand_series') }}
                        </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Jenis Mobil:</label>
                            <select2
                                    :options="options.car_type"
                                    data-vv-as="Tipe Mobil"
                                    v-validate="'required'"
                                    name="car_type_id"
                                    placeholder="Tipe Mobil"
                                    class="form-control"
                                    v-model="vehicle.car_type_id">
                            </select2>
                            <span v-show="errors.has('car_type_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('car_type_id') }}
                        </span>
                        </div>
                        <div class="col-md-3">
                            <label>Bahan Bakar Mobil:</label>
                            <select2
                                    :options="options.fuel"
                                    data-vv-as="Bahan Bakar Mobil"
                                    v-validate="'required'"
                                    name="fuel_id"
                                    placeholder="Bahan Bakar Mobil"
                                    class="form-control"
                                    v-model="vehicle.fuel_id"
                                    :value="vehicle.fuel_id"
                            >
                            </select2>
                            <span v-show="errors.has('fuel_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('fuel_id') }}
                        </span>
                        </div>
                        <div class="col-md-3">
                            <label>Warna:</label>
                            <input type="text" class="form-control" name="colour" v-model="vehicle.colour"
                                   data-vv-as="Warna" v-validate="'required'" placeholder="Warna Mobil">

                            <span v-show="errors.has('colour')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('colour') }}
                        </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Transmisi:</label>
                            <select2
                                    :options="options.transmission"
                                    data-vv-as="Transmisi Mobil"
                                    v-validate="'required'"
                                    name="transmision_id"
                                    placeholder="Transmisi"
                                    class="form-control"
                                    v-model="vehicle.transmision_id">
                            </select2>
                            <span v-show="errors.has('transmision_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('transmision_id') }}
                    </span>
                        </div>
                        <div class="col-md-3">
                            <label>Tahun:</label>
                            <input type="text" class="form-control" name="build_year" v-model="vehicle.build_year" data-vv-as="Tahun Pembuatan" v-validate="'required'" placeholder="Tahun">
                            <span v-show="errors.has('build_year')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('build_year') }}
                    </span>
                        </div>
                        <div class="col-md-3">
                            <label>KM:</label>
                            <input type="text" class="form-control" name="millage" v-model="vehicle.millage" data-vv-as="Km. Terakhir" v-validate="'required'" placeholder="Km">
                            <span v-show="errors.has('millage')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('millage') }}
                    </span>
                        </div>
                    </div>
                </div>

                <legend class="font-weight-semibold text-uppercase font-size-sm bg-teal p-2">
                    <i class="icon-user-plus mr-2"></i>
                    Informasi Owner
                    <a href="javascript:" class="float-right text-default" data-toggle="collapse" data-target="#owner">
                        <i class="icon-circle-down2"></i>
                    </a>
                </legend>
                <div class="collapse show" id="owner">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Nama Lengkap</label>
                            <select2 :options="options.salutation"
                                     data-vv-as="Salutasi"
                                     v-validate="'required'"
                                     name="salutation_id"
                                     placeholder="Salutasi"
                                     class="form-control"
                                     v-model="owner.salutation_id">
                            </select2>
                            <span v-show="errors.has('salutation_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('salutation_id') }}
                        </span>
                        </div>
                        <div class="col-md-8">
                            <label>&nbsp;</label>
                            <input type="text" name="fullname" v-model="owner.fullname" data-vv-as="Nama Lengkap" v-validate="'required'" placeholder="Nama Lengkap" class="form-control">
                            <span v-show="errors.has('fullname')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('fullname') }}
                    </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Group Customer</label>
                            <input type="text" name="owner_group" v-model="owner.owner_group" placeholder="Owner Group" class="form-control">
                        </div>
                        <div class="col-md-8">
                            <label>Nama Asuransi (Jika Pakai)</label>
                            <input type="text" name="insurance_name" v-model="owner.insurance_name" placeholder="Nama Asuransi" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Alamat:</label>
                        <textarea class="form-control" name="address" v-model="owner.address" data-vv-as="Alamat" v-validate="'required'" placeholder="Alamat Owner" rows="3"></textarea>
                        <span v-show="errors.has('address')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                    {{ errors.first('address') }}
                </span>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Propinsi:</label>
                            <select2 url="/api/province" data-vv-as="Propinsi" v-validate="'required'"
                                     name="province_id" placeholder="Pilih Propinsi" class="form-control"
                                     v-model="owner.province_id"></select2>
                            <span v-show="errors.has('province_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('province_id') }}
                    </span>
                        </div>
                        <div class="col-md-6">
                            <label>Kabupaten:</label>
                            <select2 url="/api/district" data-vv-as="Kabupaten" include="province_id" v-validate="'required'"
                                     v-model="owner.district_id"
                                     name="district_id" placeholder="Pilih Kabupaten" class="form-control"></select2>
                            <span v-show="errors.has('district_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('district_id') }}
                    </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Telepon/Mobile Phone:</label>
                            <input type="text" placeholder="Masukkan No. Telepon/Mobile Phone" name="phone_number" v-model="owner.phone_number" data-vv-as="No. Telepon/HP" v-validate="'required'" class="form-control">
                            <span v-show="errors.has('phone_number')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('phone_number') }}
                    </span>
                        </div>
                        <div class="col-md-6">
                            <label>Email:</label>
                            <input type="text" placeholder="Masukkan Email" name="email" v-model="owner.email" data-vv-as="Email" v-validate="'required'" class="form-control">
                            <span v-show="errors.has('email')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('email') }}
                    </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn bg-green-600">SIMPAN DATA KENDARAAN & OWNER</button>
        </div>
    </form>
</template>

<script>

    import select2 from '../Select2Component';
    import axios from 'axios';
    import Swal from 'sweetalert2';

    const initialOptions = JSON.parse(window.__INITIAL_OPTIONS__) || {};

    export default {
        name: "addNewVehicle",
        components: { select2 },
        data() {
            return {
                options: initialOptions.options,
                owner: {},
                vehicle: {},
                form: {}
            }
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post("/vehicle/store", {
                            form: {
                                owner: this.owner,
                                vehicle: this.vehicle
                            }
                        }).then((response) => {
                            Swal({
                                type: "success",
                                title: response.data.title,
                                text: response.data.message,
                                confirmButtonClass: 'btn btn-success',
                            }).then(() => {
                                this.form = {};
                            });
                        });

                        return;
                    }

                    Swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            }
        }
    }
</script>