<template>
    <b-modal ref="modalVehicleOwner" title="Informasi Kendaraan Yang Dimiliki" size='full' header-class="bg-teal"
             hide-footer no-enforce-focus>
        <div class="row">
            <div class="col-md-12">
                <div class="text-right" v-show="hasAccess">
                    <a :href="createWO" class="btn btn-primary"><span class="text-uppercase">BUAT WORK ORDER BARU</span> <i
                            class="icon-new ml-2"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-xxs my-2">
                        <thead class="bg-violet">
                        <tr>
                            <th colspan="2">Detail Mobil</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-gear mr-2"></i> V.I.N/No. Casis:</td>
                            <td class="text-right text-uppercase">{{ vehicle.vin_number }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-truck mr-2"></i> No. Mesin:</td>
                            <td class="text-right text-uppercase">{{ vehicle.engine_number }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-list-numbered mr-2"></i> No. Polisi:</td>
                            <td class="text-right">{{ vehicle.plate_number }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-git-branch mr-2"></i> Merek:</td>
                            <td class="text-right">{{ vehicle.brand.name }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-list3 mr-2"></i> Tipe:</td>
                            <td class="text-right">{{ vehicle.brand_series }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-color-sampler mr-2"></i> Warna:</td>
                            <td class="text-right">{{ vehicle.colour }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-calendar3 mr-2"></i> Tahun:</td>
                            <td class="text-right">{{ vehicle.build_year }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-stack mr-2"></i> Jenis Mobil:</td>
                            <td class="text-right">{{ vehicle.carType.name }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-transmission mr-2"></i> Transmisi:</td>
                            <td class="text-right">{{ vehicle.transmision.name }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-traffic-cone mr-2"></i> Bahan Bakar:</td>
                            <td class="text-right">{{ vehicle.fuel.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-xxs my-2">
                        <thead class="bg-violet">
                        <tr>
                            <th colspan="2">Owner</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-user-check mr-2"></i> Nama:</td>
                            <td class="text-right text-uppercase">{{ owner.salutation.name }} {{ owner.fullname }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-phone mr-2"></i> Telepon/Mobile:</td>
                            <td class="text-right text-uppercase">{{ owner.phone_number}}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-mail5 mr-2"></i> Email:</td>
                            <td class="text-right text-uppercase">{{ owner.email }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Alamat:</td>
                            <td class="text-right text-uppercase">{{ owner.address }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location4 mr-2"></i> Propinsi:</td>
                            <td class="text-right text-uppercase">{{ owner.province.name }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location4 mr-2"></i> Kabupaten:</td>
                            <td class="text-right text-uppercase">{{ owner.district.name }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-phone mr-2"></i> Telepon:</td>
                            <td class="text-right text-uppercase">{{ owner.phone_number }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="bg-violet">
                        <tr>
                            <th>#</th>
                            <th>No. WO</th>
                            <th>Status WO</th>
                            <th>Tanggal WO</th>
                            <th>Driver</th>
                            <th>Estimasi Selesai</th>
                            <th>Waktu Selesai</th>
                            <th>Total Pengerjaan (Rp)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(workOrder, index) in workOrders">
                            <td>{{ index+1 }}</td>
                            <td class="font-weight-semibold">
                                <a href="javascipt:" class="font-weight-bold" v-on:click.prevent="detail(workOrder.id)">
                                    {{
                                    workOrder.code
                                    }}</a>
                            </td>
                            <td class="font-weight-semibold text-center" :class="workOrder.status.colour">
                                {{
                                workOrder.status.name
                                }}
                            </td>
                            <td>
                                <span class="font-weight-bold">{{ workOrder.arrived_date }}</span>
                                <div class="text-muted font-size-sm">
                                    <span class="badge badge-mark bg-green border-green mr-1"></span>
                                    {{ workOrder.arrived_time }}
                                </div>
                            </td>
                            <td>
                                <span class="font-weight-bold">{{ workOrder.driver }}</span>
                                <div class="text-muted font-size-sm">
                                    <span class="badge badge-mark bg-grey border-grey mr-1"></span>
                                    {{ workOrder.driver_phone }}
                                </div>
                            </td>
                            <td><span class="badge bg-blue-600">{{ workOrder.estimated_time.hours }} Jam, {{ workOrder.estimated_time.minutes }} Menit</span>
                            </td>
                            <td>{{ workOrder.time_finished }}</td>
                            <td class="text-right font-weight-bold">{{ formatter(workOrder.total_price) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <modal-detail></modal-detail>
    </b-modal>
</template>

<script>
    import axios from 'axios';
    import {EventBus} from "../../eventbus";
    import ModalDetail from "../work-order/partials/ModalDetail";

    export default {
        name      : "DetailVehicleOwner",
        components: {ModalDetail},
        data() {
            return {
                hasAccess : __ROLE.includes('add work-order'),
                createWO  : `${baseUrl}/work-order/add?vehicle=`,
                vehicle   : {
                    id         : null,
                    brand      : {name: null},
                    transmision: {name: null},
                    fuel       : {name: null},
                    carType    : {name: null}

                },
                owner     : {
                    salutation: {name: null},
                    province  : {name: null},
                    district  : {name: null}
                },
                workOrders: []
            }
        },
        methods   : {
            formatter(value) {
                const formatter = new Intl.NumberFormat('id-ID', {
                    style   : 'currency',
                    currency: 'IDR',
                });

                return formatter.format(value);
            },
            detail(workOrderId) {
                axios.get(`${window.baseUrl}/work-order/show/${workOrderId}`).then((response) => {
                    EventBus.$emit("WORK-ORDER:DETAIL", {
                        data: response.data.data,
                    });
                });
            }
        },
        created() {
            EventBus.$on("vehicle-owner:detail", (payload) => {
                this.vehicle    = payload.vehicle;
                this.owner      = payload.vehicle.owner[0];
                this.workOrders = payload.vehicle.workOrders;
                this.createWO   = `${window.baseUrl}/work-order/add?vehicle=${payload.vehicle.id}`;
                this.$refs.modalVehicleOwner.show();
            });
        }
    }
</script>