<template>
    <div>
        <table id="vehicles-table"
               class="table table-bordered table-striped table-hover text-nowrap datatable-column-search-inputs">
            <thead>
            <tr>
                <th class="text-center">Terakhir Service</th>
                <th>No. Chassis</th>
                <th>No. Polisi</th>
                <th>No. Mesin</th>
                <th>Owner</th>
                <th>Merk</th>
                <th>Tahun</th>
                <th>Warna</th>
                <th style="white-space: nowrap;">Last KM</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
        </table>

        <vehicle-edit-modal></vehicle-edit-modal>
        <owner-detail></owner-detail>
        <detail-vehicle-owner></detail-vehicle-owner>
    </div>
</template>

<script>

    import {EventBus} from "../../eventbus";
    import VehicleEditModal from "./partials/VehicleEditModal";
    import OwnerDetail from "../owner/partials/OwnerDetail";
    import DetailVehicleOwner from "./DetailVehicleOwner";

    function modalEdit() {
        $('.vehicle-modal').on('click', function () {
            let vehicle_id = $(this).data('vehicle');

            window.axios.get(`vehicles/show/${vehicle_id}`).then(function (response) {
                EventBus.$emit("VEHICLE:EDIT", response.data);
            });
        });
    }

    function modalOwnerDetail() {
        $('.owner-detail').on('click', function () {
            let owner_id = $(this).data('owner');
            EventBus.$emit("OWNER:DETAIL", {url: `${window.baseUrl}/owners/show/${owner_id}`});
        });
    }

    let draw_counter = 0;

    export default {
        name      : "VehicleGrid",
        components: {DetailVehicleOwner, OwnerDetail, VehicleEditModal},
        props     : [
            "ajax"
        ],
        mounted() {
            function showModal() {
                $('.show-modal').on('click', function (e) {
                    e.preventDefault();
                    let dataEvent   = $(this).data('event');
                    let dataContent = $(this).data('content');
                    let dataUrl     = $(this).data('url');
                    console.log(dataUrl, dataEvent);
                    if (typeof dataUrl !== "undefined") {
                        window.axios.get(dataUrl)
                              .then((response) => {
                                  if (response.data.success) {
                                      EventBus.$emit(dataEvent, {vehicle: response.data.data});
                                      return;
                                  }
                              })
                    } else {
                        EventBus.$emit(dataEvent, dataContent);
                    }
                });
            };

            $.extend($.fn.dataTable.defaults, {
                autoWidth    : false,
                columnDefs   : [{
                    width  : 100,
                    targets: [2]
                }, {
                    targets  : [5],
                    className: 'text-nowrap'
                }, {
                    targets  : [0],
                    className: 'text-right'
                }],
                displayLength: 10,
                dom          : '<"datatable-header datatable-header-accent"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                language     : {
                    search           : '<span>Pencarian:</span> _INPUT_',
                    searchPlaceholder: 'Cari No. Polisi/No. Chassis',
                    lengthMenu       : '<span>Tampilkan:</span> _MENU_',
                    paginate         : {
                        'first'   : 'Pertama',
                        'last'    : 'Terakhir',
                        'next'    : $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;',
                        'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;'
                    }
                }
            });

            $('#vehicles-table').DataTable({
                serverSide    : true,
                processing    : true,
                pageLength    : 10,
                order         : [[0, "desc"]],
                ajax          : this.ajax,
                columns       : [
                    {data: 'registered_date', searchable: false, className: "text-nowrap"},
                    {data: 'vin_number', className: "font-weight-bold"},
                    {data: 'plate_number', className: "text-nowrap text-center"},
                    {data: 'engine_number'},
                    {data: 'owner', searchable: true},
                    {data: 'brand_series', className: "text-nowrap", searchable: false},
                    {data: 'build_year', searchable: false},
                    {data: 'colour', searchable: false},
                    {data: 'millage', searchable: false},
                    {data: 'action', searchable: false, orderable: false}
                ],
                scrollX       : true,
                scrollY       : '350px',
                scrollCollapse: true,
                fixedColumns  : {
                    leftColumns : 0,
                    rightColumns: 1
                },
                drawCallback  : function () {
                    if (draw_counter !== this.fnSettings().iDraw) {
                        modalEdit();
                        modalOwnerDetail();
                        showModal();
                        draw_counter = this.fnSettings().iDraw;
                    }
                }
            });
        }
    }
</script>

<style>
    .dataTables_filter input {
        width: 19.5rem;
    }
</style>