<template>
    <div>
        <table id="services-table" class="table table-bordered table-striped table-hover text-nowrap datatable-column-search-inputs">
            <thead>
            <tr>
                <th></th>
                <th>Nama Status</th>
                <th>Kode</th>
                <th>Warna</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
        </table>
        <modal-form-status></modal-form-status>
    </div>
</template>

<script>
    import { EventBus } from "../../../eventbus";
    import axios from 'axios'
    import ModalFormStatus from "./partials/ModalFormStatus";

    export default {
        name: "GridStatuses",
        components: {ModalFormStatus},
        data() {
            return {
                table: null
            }
        },
        mounted() {
            const vm = this;

            const showModal = function() {
                $('.show-modal').on('click', function(e) {
                    e.preventDefault();
                    let dataEvent = $(this).data('event');
                    let dataContent = $(this).data('content');
                    let dataUrl = $(this).data('url');

                    if (typeof dataUrl !== "undefined") {
                        axios.get(dataUrl)
                            .then((response) => {
                                if (response.data.success) {
                                    EventBus.$emit(dataEvent, { data: response.data.data });
                                    return;
                                }
                            })
                    } else {
                        EventBus.$emit(dataEvent, dataContent);
                    }
                });
            };

            $.extend( $.fn.dataTable.defaults, {
                autoWidth: false,
                displayLength: 25,
                dom: '<"datatable-header datatable-header-accent"fBlr><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                language: {
                    search: '<span>Pencarian:</span> _INPUT_',
                    searchPlaceholder: 'Cari Jasa/Service...',
                    lengthMenu: '<span>Tampilkan:</span> _MENU_',
                    paginate: { 'first': 'Pertama', 'last': 'Terakhir', 'next': $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;' }
                }
            });

            let draw_counter = 0;
            this.table = $('#services-table').DataTable({
                serverSide: true,
                processing: true,
                pageLength: 50,
                stateSave: true,
                order: [[ 1, "asc" ]],
                ajax: `${window.baseUrl}/master/statuses/data`,
                columns: [
                    {data: 'id'},
                    {data: 'name', searchable: true, className: "text-nowrap font-weight-bold"},
                    {data: 'code', searchable: false, className: "text-nowrap"},
                    {data: 'colour', searchable: false},
                    {data: 'action', className: "text-center"}
                ],
                scrollX: true,
                scrollY: '350px',
                fixedColumns: {
                    leftColumns: 0,
                    rightColumns: 1
                },
                drawCallback: function() {
                    if ( draw_counter !== this.fnSettings().iDraw ) {
                        showModal();
                        draw_counter = this.fnSettings().iDraw;
                    }
                }
            });

            this.table.on( 'order.dt search.dt', () => {
                this.table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        },
        created() {
            EventBus.$on('datatables::reload', () => {
                this.table.ajax.reload();
            });
        }
    }
</script>