<template>
    <b-modal ref="modalCR" size="lg" header-class="bg-indigo-300" footer-class="bg-transparent" hide-footer
             no-enforce-focus>
        <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
            <input type="hidden" name="id" v-model="form.id">
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Nama Lengkap Driver:<span
                            class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <select2 :options="options.salutation"
                             data-vv-as="Salutasi"
                             v-validate="'required'"
                             name="drive_salutation_id"
                             placeholder="Salutasi"
                             class="form-control"
                             v-model="form.salutation_id">
                    </select2>
                    <span v-show="errors.has('drive_salutation_id')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('drive_salutation_id') }}
                        </span>
                </div>
                <div class="col-md-5">
                    <label>&nbsp;</label>
                    <input type="text" name='driver_name' v-model="form.driver_name" data-vv-as="Pengemudi"
                           v-validate="'required'" placeholder="Driver/Pembawa Mobil" class="form-control">
                    <span v-show="errors.has('driver_name')"
                          class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('driver_name') }}
                    </span>
                </div>
                <div class="col-md-4">
                    <label>No. Telepon Driver:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <input type="text" name='driver_phone' v-model="form.driver_phone" data-vv-as="Telepon Driver"
                           v-validate="'required'" placeholder="Telepon Driver" class="form-control">
                    <span v-show="errors.has('driver_phone')"
                          class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('driver_phone') }}
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Kilometer Terakhir:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <input type="number" name="millage" class="form-control" placeholder="Km. Terakhir"
                           v-model="form.millage" data-vv-as="Kilometer Terakhir" v-validate="'required'">
                    <span v-show="errors.has('millage')"
                          class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('millage') }}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Alasan Car Return:<span
                        class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                <b-form-group>
                    <b-form-checkbox-group id="checkboxes2" name="type" v-model="form.type">
                        <b-form-checkbox value="CR">Car Return</b-form-checkbox>
                        <b-form-checkbox value="CL">Claim</b-form-checkbox>
                        <b-form-checkbox value="SO">Sub Outlet</b-form-checkbox>
                    </b-form-checkbox-group>
                </b-form-group>
            </div>

            <div class="form-group">
                <label>Alasan Car Return:<span
                        class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                <textarea class="form-control" name="description" v-model="form.description" data-vv-as="Alasan"
                          v-validate="'required'" placeholder="Alasan" rows="3"></textarea>
                <span v-show="errors.has('description')" class="form-text text-danger"><i
                        class="icon-cancel-circle2 font-size-sm"></i>
                    {{ errors.first('description') }}
                </span>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary"><span class="text-uppercase">{{ actionLabel }}</span> <i
                        class="icon-floppy-disk ml-2"></i></button>
            </div>
        </form>
    </b-modal>
</template>

<script>
    const initData   = {
        type: []
    };
    let initialState = JSON.parse(window.__INITIAL_OPTIONS__) || {};

    import {EventBus} from "../../eventbus";
    import select2 from "../Select2Component";
    import axios from "axios";

    export default {
        name      : "CreateCR",
        components: {select2},
        data() {
            return {
                options    : initialState.options,
                form       : initData,
                actionLabel: ""
            }
        },
        methods   : {
            store() {
                axios.post(`${window.baseUrl}/car-return`, {
                    form: this.form
                }).then((response) => {
                    if (response.data.status === 'success') {
                        window.open(response.data.data.url, '_blank');
                        swal({
                            type : 'success',
                            title: 'Create WO Car Return Success',
                            text : response.data.message,
                        }).then(() => {
                            window.location = `${window.baseUrl}/car-return`;
                        });
                    }
                });
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.store();
                        return;
                    }

                    swal({
                        type : "error",
                        title: "Lengkapi field",
                        text : "Mohon isi data dengan benar"
                    });
                });
            },
        },
        created() {
            EventBus.$on("car-return::create", (payload) => {
                this.form        = initData;
                this.form.id     = payload.id;
                this.actionLabel = "Buat Car Return";
                this.$refs.modalCR.show();
            });
        }
    }
</script>