<template>
    <b-modal ref="modalOwnerEditForm" title="Edit Informasi Owner" size='lg' header-class="bg-teal" hide-footer
             no-enforce-focus>
        <div class="card-body">
            <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
                <input type="hidden" name="id" v-model="owner.id">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Nama Lengkap</label>
                        <select2 :options="options.salutation"
                                 data-vv-as="Salutasi"
                                 v-validate="'required'"
                                 name="salutation_id"
                                 placeholder="Salutasi"
                                 class="form-control"
                                 v-model="owner.salutation_id">
                        </select2>
                        <span v-show="errors.has('salutation_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('salutation_id') }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        <label>&nbsp;</label>
                        <input type="text" name="fullname" v-model="owner.fullname" data-vv-as="Nama Lengkap"
                               v-validate="'required'" placeholder="Nama Lengkap" class="form-control">
                        <span v-show="errors.has('fullname')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('fullname') }}
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Group Customer</label>
                        <input type="text" name="owner_group" v-model="owner.owner_group" placeholder="Owner Group"
                               class="form-control">
                    </div>
                    <div class="col-md-8">
                        <label>Nama Asuransi (Jika Pakai)</label>
                        <input type="text" name="insurance_name" v-model="owner.insurance_name"
                               placeholder="Nama Asuransi" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label>Alamat:</label>
                    <textarea class="form-control" name="address" v-model="owner.address" data-vv-as="Alamat"
                              v-validate="'required'" placeholder="Alamat Owner" rows="3"></textarea>
                    <span v-show="errors.has('address')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                    {{ errors.first('address') }}
                </span>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Propinsi:</label>
                        <select2 url="/api/province" data-vv-as="Propinsi" v-validate.disable="'required'"
                                 name="province_id" placeholder="Pilih Propinsi" class="form-control"
                                 v-model="owner.province_id"
                                 :value="owner.province_id"
                                 :options="owner.province.options"
                        >
                        </select2>
                        <span v-show="errors.has('province_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('province_id') }}
                    </span>
                    </div>
                    <div class="col-md-6">
                        <label>Kabupaten:</label>
                        <select2 url="/api/district" data-vv-as="Kabupaten" include="province_id"
                                 v-validate.disable="'required'"
                                 v-model="owner.district_id"
                                 name="district_id" placeholder="Pilih Kabupaten" class="form-control"
                                 :value="owner.district_id"
                                 :options="owner.district.options"
                        ></select2>
                        <span v-show="errors.has('district_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('district_id') }}
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Telepon/Mobile Phone:</label>
                        <input type="text" placeholder="Masukkan No. Telepon/Mobile Phone" name="phone_number"
                               v-model="owner.phone_number" data-vv-as="No. Telepon/HP" v-validate="'required'"
                               class="form-control">
                        <span v-show="errors.has('phone_number')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('phone_number') }}
                    </span>
                    </div>
                    <div class="col-md-6">
                        <label>Email:</label>
                        <input type="text" placeholder="Masukkan Email" name="email" v-model="owner.email"
                               data-vv-as="No. Telepon/HP" v-validate="'required'" class="form-control">
                        <span v-show="errors.has('email')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('email') }}
                    </span>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span
                            class="text-uppercase">Edit Informasi Owner</span> <i class="icon-floppy-disk ml-2"></i>
                    </button>
                </div>
            </form>
        </div>
    </b-modal>
</template>

<script>
    import select2 from '../../Select2Component';
    import {EventBus} from '../../../eventbus';
    import axios from 'axios';

    const initialOptions = JSON.parse(window.__INITIAL_OPTIONS__) || {};
    const initForm       = {
        province: [],
        district: []
    };

    export default {
        name      : "OwnerEdit",
        components: { select2 },
        data() {
            return {
                options: initialOptions.options,
                owner  : initForm
            }
        },
        methods   : {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.patch(`${window.baseUrl}/owners/${this.owner.id}`, {
                            form: this.owner
                        }).then((response) => {
                            swal({
                                type              : "success",
                                title             : response.data.title,
                                text              : response.data.message,
                                confirmButtonClass: 'btn btn-success',
                            }).then(() => {
                                this.$refs.modalOwnerEditForm.hide();
                            });
                        });

                        return;
                    }

                    swal({
                        type : "error",
                        title: "Lengkapi field",
                        text : "Mohon isi data dengan benar"
                    });
                });
            }
        },
        created() {
            EventBus.$on("OWNER:EDIT", (owner) => {
                this.owner = initForm;
                this.owner = owner.data;
                this.$refs.modalOwnerEditForm.show();
            });

            this.$root.$on("bv::modal::hidden", () => {
                EventBus.$emit("datatables::reload");
            });
        }
    }
</script>