<template>
    <b-modal ref="modalOwner" size="full" header-class="bg-indigo-300" footer-class="bg-transparent">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped table-xxs my-2">
                    <thead>
                    <tr>
                        <th colspan="2">Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-user-check mr-2"></i> Nama:</td>
                        <td class="text-right text-uppercase">{{ owner.fullname }}</td>
                    </tr>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-phone mr-2"></i> Telepon/Mobile:</td>
                        <td class="text-right text-uppercase">{{ owner.phone_number}}</td>
                    </tr>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-mail5 mr-2"></i> Email:</td>
                        <td class="text-right text-uppercase">{{ owner.email }}</td>
                    </tr>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Alamat:</td>
                        <td class="text-right text-uppercase">{{ owner.address }}</td>
                    </tr>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Propinsi:</td>
                        <td class="text-right text-uppercase">{{ owner.province.name }}</td>
                    </tr>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Kabupaten:</td>
                        <td class="text-right text-uppercase">{{ owner.district.name }}</td>
                    </tr>
                    <tr>
                        <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Telepon:</td>
                        <td class="text-right text-uppercase">{{ owner.phone_number }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-xxs text-nowrap">
                        <thead>
                        <tr>
                            <th>No. Polisi</th>
                            <th>No. Chassis</th>
                            <th>No. Mesin</th>
                            <th>Brand</th>
                            <th>Warna</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="vehicle in owner.vehicles">
                            <td>{{ vehicle.plate_number }}</td>
                            <td>{{ vehicle.vin_number }}</td>
                            <td>{{ vehicle.engine_number }}</td>
                            <td>{{ vehicle.brand_series }}</td>
                            <td>{{ vehicle.colour }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </b-modal>
</template>

<script>
    import { EventBus } from "../../../eventbus";
    import bModal from 'bootstrap-vue/es/components/modal/modal';
    import axios from 'axios';

    export default {
        name: "OwnerDetail",
        components: { bModal },
        data() {
            return {
                url: null,
                owner: {
                    province: { },
                    district: { }
                }
            }
        },
        methods: {
            fetchOwner(payload) {
                axios.get(payload.url)
                    .then( (response) => {
                        if (response.data.success) {
                            this.owner = response.data.data;
                        }
                    } )
                    .then(() => {
                        this.$refs.modalOwner.show();
                    })
                    .catch((error) => {

                    });
            }
        },
        created() {
            EventBus.$on("OWNER:DETAIL", this.fetchOwner);
        }
    }
</script>