<template>
    <div>
        <table id="employees-table" class="table table-bordered table-striped table-hover text-nowrap datatable-column-search-inputs">
            <thead>
            <tr>
                <th></th>
                <th>Nama Karyawan</th>
                <th>Posisi/Jabatan</th>
                <th>No. Identitas</th>
                <th>No. Telepon</th>
                <th>Mekanik?</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
        </table>

        <modal-form-employee></modal-form-employee>
    </div>
</template>

<script>
    import { EventBus } from "../../eventbus";
    import ModalFormEmployee from "./partials/ModalFormEmployee";
    import axios from 'axios';

    export default {
        name: "GridEmployees",
        components: { ModalFormEmployee },
        props: [
            "ajax"
        ],
        data() {
            return {
                table: null
            }
        },
        mounted() {
            const vm = this;

            const showModal = function() {
                $('.show-modal').on('click', function(e) {
                    e.preventDefault();
                    let dataEvent = $(this).data('event');
                    let dataContent = $(this).data('content');
                    let dataUrl = $(this).data('url');

                    if (typeof dataUrl !== "undefined") {
                        axios.get(dataUrl)
                            .then((response) => {
                                if (response.data.success) {
                                    EventBus.$emit(dataEvent, { data: response.data.data });
                                    return;
                                }
                            })
                    } else {
                        EventBus.$emit(dataEvent, dataContent);
                    }
                });
            };

            $.extend( $.fn.dataTable.defaults, {
                autoWidth: false,
                columnDefs: [{
                    width: 100,
                    targets: [ 2 ]
                }, {
                    targets: [ 5 ],
                    className: 'text-nowrap'
                }],
                displayLength: 25,
                dom: '<"datatable-header datatable-header-accent"fBlr><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                language: {
                    search: '<span>Pencarian:</span> _INPUT_',
                    searchPlaceholder: 'Cari Nama Karyawan',
                    lengthMenu: '<span>Tampilkan:</span> _MENU_',
                    paginate: { 'first': 'Pertama', 'last': 'Terakhir', 'next': $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;' }
                }
            });

            let draw_counter = 0;
            this.table = $('#employees-table').DataTable({
                serverSide: true,
                processing: true,
                pageLength: 50,
                stateSave: true,
                order: [[ 1, "asc" ]],
                ajax: this.ajax,
                columns: [
                    {data: 'id'},
                    {data: 'fullname', searchable: true, className: "text-nowrap font-weight-bold"},
                    {data: 'position', searchable: false, className: "text-nowrap"},
                    {data: 'identity_card_number', searchable: false},
                    {data: 'phone_number', className: "text-nowrap", searchable: false},
                    {data: 'is_mechanic', searchable: false, orderable: false, className: "text-center"},
                    {data: 'action'}
                ],
                scrollX: true,
                scrollY: '350px',
                fixedColumns: {
                    leftColumns: 0,
                    rightColumns: 1
                },
                initComplete: function() {

                },
                drawCallback: function() {
                    if ( draw_counter !== this.fnSettings().iDraw ) {
                        showModal();
                        draw_counter = this.fnSettings().iDraw;
                    }
                }
            });

            this.table.on( 'order.dt search.dt', () => {
                this.table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        },
        created() {
            EventBus.$on('datatables::reload', () => {
                this.table.ajax.reload();
            });
        }
    }
</script>