<template>
    <select :data-container-css-class="bgColor">
        <option disabled value="0">Select one</option>
        <slot></slot>
    </select>
</template>

<script>
    export default {
        name: "select2",
        props: [
            'options', 'value', 'url', 'min',
            'placeholder', 'select2Options',
            'include', 'templateResult',
            'width', 'bgColor', 'broadcast'
        ],
        data: function()
        {
            let includeId = this.include;

            return {
                ajaxOptions: {
                    url: this.url,
                    dataType: 'json',
                    delay: 350,
                    tags: true,
                    data: function(params) {
                        let second_param = '';

                        if (typeof includeId !== 'undefined') {
                            second_param = document.getElementsByName(includeId)[0].value;
                        }

                        return {
                            term: params.term, // search term
                            incl: second_param,
                            page: params.page
                        };
                    },
                    processResults: function(data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 30) < data.data.total_count
                            }
                        };
                    },
                    cache: true
                },
                defaultOptions: {
                    allowClear: true,
                    placeholder: this.placeholder,
                },
                runIt: true
            };
        },
        mounted: function() {
            let vm = this;

            this.defaultOptions.data = this.options || {};

            if (typeof this.url !== 'undefined') {
                this.defaultOptions.ajax = this.ajaxOptions;
                this.defaultOptions.minimumInputLength = 2;

                if (this.value !== null) this.runIt = false;
            }

            if (typeof this.min !== 'undefined') {
                this.defaultOptions.minimumInputLength = this.min;
            }

            if (typeof this.width !== 'undefined') {
                this.defaultOptions.width = this.width;
            }

            if (typeof this.templateResult !== 'undefined') {
                this.defaultOptions.templateResult = this.templateResult;
            }

            $(this.$el)
                .select2({
                    ...this.defaultOptions
                })
                .val(this.value)
                .trigger('change')
                .on('change', function() {
                    vm.$emit('input', this.value)
                });

            if (this.broadcast) {
                $(this.$el).on('select2:select', function (e) {
                    vm.$root.$emit("select2::selected", e.params.data);
                });
            }
        },
        watch: {
            options: function(options) {
                if (typeof options !== "undefined" && typeof this.url !== "undefined") {
                    this.defaultOptions.data = options;
                }

                $(this.$el)
                    .select2({
                        ...this.defaultOptions
                    });

                this.runIt = true;
            },
            value: function(value) {
                this.selectedText = $(this.$el).children('option:selected').text();
                let index = $(this.$el).data('index');

                if (index)
                    this.$parent.$emit('selectEvent', { name: this.$el.name, value: this.selectedText, index: index });

                if (this.runIt === false) return;

                $(this.$el).val(value).trigger('change');
            },
            url: function(value) {
                this.ajaxOptions.url = this.url;

                $(this.$el).select2({
                    ajax: this.ajaxOptions
                });
            }
        },
        destroyed: function() {
            $(this.$el).off().select2('destroy')
        }
    }
</script>