<template>
    <vue-bootstrap-typeahead
            v-model="query"
            :data="items"
            :serializer="item => item.text"
            @hit="selectedItem = $event"
            :placeholder="placeholder"
    />
</template>

<script>
    import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';
    import axios from 'axios';

    export default {
        name      : "Typeahead",
        components: {
            VueBootstrapTypeahead
        },
        props     : {
            placeholder: {type: String, default: "Placeholder"},
            url        : {type: String},
            value   : { type: String}
        },
        mounted() {
            this.inputValue = "fdsafdsa";
        },
        data() {
            return {
                query       : '',
                items       : [],
                selectedItem: null
            }
        },
        methods   : {
            fetchItems: _.debounce(function (newQuery) {
                axios.get(`${this.url}&term=${newQuery}`).then(response => {
                    this.items = response.data.data;
                });
            }, 500)
        },
        watch     : {
            query: function (newQuery){
                this.$emit('input', newQuery);
                this.fetchItems(newQuery);
            }
        }
    }
</script>