<template>
    <div>
        <table id="owners-table" class="table table-bordered table-striped table-hover text-nowrap datatable-column-search-inputs">
            <thead>
            <tr>
                <th>Nama Customer</th>
                <th>Group Customer</th>
                <th>Kendaraan</th>
                <th>Alamat</th>
                <th>No. Telepon</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
        </table>

        <vehicle-detail></vehicle-detail>
        <owner-edit></owner-edit>
        <form-add-new-vehicle></form-add-new-vehicle>
    </div>
</template>

<script>
    import { EventBus } from "../../eventbus";
    import VehicleDetail from "../vehicle/partials/VehicleDetail";
    import OwnerEdit from "./partials/OwnerEdit";
    import FormAddNewVehicle from "./FormAddNewVehicle";

    function modalVehicle() {
        $('.vehicle-modal').on('click', function () {
            let owner_id = $(this).data('owner');

            window.axios.get(`owners/vehicles/${owner_id}`).then((response) => {
                EventBus.$emit("VEHICLES:OWNERHAS", response.data);
            });
        });
    }

    function modalEditOwner() {
        $('.owner-edit-modal').on('click', function () {
            let owner_id = $(this).data('owner');

            window.axios.get(`owners/show/${owner_id}`).then((response) => {
                EventBus.$emit("OWNER:EDIT", response.data);
            });
        });
    }

    function modalAddNewVehicle() {
        $('.add-vehicle-modal').on('click', function () {
            let owner_id = $(this).data('owner');

            window.axios.get(`owners/show/${owner_id}`).then((response) => {
                EventBus.$emit('owner::new-vehicle', response.data.data)
            });
        });
    }

    let draw_counter = 0;

    export default {
        name: "OwnerGrid",
        components: {FormAddNewVehicle, OwnerEdit, VehicleDetail },
        props: [
            "ajax"
        ],
        data() {
            return {
                table: {}
            }
        },
        mounted() {
            $.extend( $.fn.dataTable.defaults, {
                autoWidth: false,
                columnDefs: [{
                    width: 100,
                    targets: [ 2 ]
                }, {
                    targets: [ 5 ],
                    className: 'text-nowrap'
                }],
                displayLength: 50,
                dom: '<"datatable-header datatable-header-accent"fBlr><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                language: {
                    search: '<span>Pencarian:</span> _INPUT_',
                    searchPlaceholder: 'Cari Nama Customer',
                    lengthMenu: '<span>Tampilkan:</span> _MENU_',
                    paginate: { 'first': 'Pertama', 'last': 'Terakhir', 'next': $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;' }
                }
            });

            this.table = $('#owners-table').DataTable({
                serverSide: true,
                processing: true,
                pageLength: 50,
                stateSave: true,
                order: [[ 0, "desc" ]],
                ajax: this.ajax,
                columns: [
                    {data: 'fullname', searchable: true, className: "text-nowrap"},
                    {data: 'group', searchable: false, className: "text-nowrap"},
                    {data: 'vehicles_count', searchable: false},
                    {data: 'address', searchable: false},
                    {data: 'phone_number', className: "text-nowrap", searchable: false},
                    {data: 'action', searchable: false, orderable: false, className: "text-center"}
                ],
                scrollX: true,
                scrollY: '350px',
                fixedColumns: {
                    leftColumns: 0,
                    rightColumns: 1
                },
                initComplete: function() {

                },
                drawCallback: function() {
                    if ( draw_counter !== this.fnSettings().iDraw ) {
                        modalVehicle();
                        modalEditOwner();
                        modalAddNewVehicle();
                        draw_counter = this.fnSettings().iDraw;
                    }
                }
            });
        },
        created() {
            EventBus.$on('datatables::reload', () => {
                this.table.ajax.reload();
            });
        }
    }
</script>

<style>
    .dataTables_filter input {
        width: 19.5rem;
    }
</style>