<template>
    <div class="card-body">
        <new-data-kendaraan :url="url" :with-submit="true"></new-data-kendaraan>
    </div>
</template>

<script>
    import NewDataKendaraan from "../work-order/partials/NewDataKendaraan";

    export default {
        name: "OwnerAdd",
        props: [ "urlStore", "urlGrid" ],
        data() {
            return {
                url: this.urlStore
            }
        },
        components: { NewDataKendaraan }
    }
</script>