<template>
    <div id="owner-vehicles-modal" class="modal fade">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header bg-indigo-300">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No. Chassis</th>
                                    <th>No. Mesin</th>
                                    <th>No. Polisi</th>
                                    <th>Merek</th>
                                    <th>Series</th>
                                    <th>Tahun</th>
                                    <th>Warna</th>
                                    <th>Tgl. Terdaftar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="vehicle in vehicles">
                                    <td>{{ vehicle.vin_number }}</td>
                                    <td>{{ vehicle.engine_number }}</td>
                                    <td>{{ vehicle.plate_number }}</td>
                                    <td>{{ vehicle.brand_id }}</td>
                                    <td>{{ vehicle.brand_series }}</td>
                                    <td>{{ vehicle.year_build }}</td>
                                    <td>{{ vehicle.colour }}</td>
                                    <td>{{ vehicle.registered }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer bg-transparent">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from "../../eventbus";

    export default {
        name: "VehicleModal",
        data() {
            return {
                vehicles: []
            }
        },
        methods: {
            vehicleGrid(vehicles) {
                this.vehicles = vehicles;
                $('#owner-vehicles-modal').modal('show');
            }
        },
        created() {
            EventBus.$on("OWNER-VEHICLES-DETAIL", this.vehicleGrid);
        }
    }
</script>