<template>
    <fieldset class="p-3">
        <div class="row">
            <div class="col-md-12 mb-5">
                <table class="table table-xs">
                    <thead class="bg-brown-600">
                    <tr>
                        <th>#</th>
                        <th>Jasa</th>
                        <th class="text-center">Estimasi Biaya</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="serviceRow in serviceRows">
                        <td style="width: 3%;">
                            <input type="checkbox" v-model="serviceRow.selected">
                        </td>
                        <td>
                            <select2
                                    url="/api/services"
                                    v-model="serviceRow.service"
                                    name="service"
                                    placeholder="Nama Service/Jasa"
                                    min="0"
                                    class="form-control">
                            </select2>
                        </td>
                        <td>
                            <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                Rp.
                            </span>
                        </span>
                                <input type="text" class="form-control text-right" v-money="moneyConfig" v-model.lazy="serviceRow.price" placeholder="Estimasi...">
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                    <tfoot class="border-blue-300">
                    <tr class="bg-brown">
                        <td colspan="2">
                            TOTAL ESTIMASI JASA
                        </td>
                        <td>
                            <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                Rp.
                            </span>
                        </span>
                                <input type="text" v-model="totalServiceCharge" readonly=readonly class="form-control text-right" placeholder="Total Estimasi...">
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button type="button" v-on:click="addServiceRow" class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i class="icon-plus3"></i></b> Tambah Jasa</button>
                            <button type="button" v-on:click="deleteSelectedServiceRow" class="btn btn-warning btn-labeled btn-labeled-left btn-sm"><b><i class="icon-trash-alt"></i></b> Hapus pilihan</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-md-12">
                <table class="table table-xs">
                    <thead class="bg-orange-600">
                    <tr>
                        <th>#</th>
                        <th>Parts & Bahan</th>
                        <th colspan="2">Qty</th>
                        <th class="text-center">Estimasi Biaya</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="partsRow in partsRows">
                        <td style="width: 3%;">
                            <input type="checkbox" v-model="partsRow.selected">
                        </td>
                        <td style="width: 35%;">
                            <select2
                                    url="/api/district"
                                    v-model="partsRow.parts"
                                    name="parts"
                                    placeholder="Nama Parts/Bahan"
                                    class="form-control">
                            </select2>
                        </td>
                        <td style="width: 15%;"><input type="number" name='quantity' class="form-control" placeholder="qty"></td>
                        <td>
                            <select2
                                    url="/api/district"
                                    v-model="partsRow.quantity_label"
                                    name="quantity"
                                    placeholder="Quantity"
                                    class="form-control">
                            </select2>
                        </td>
                        <td>
                            <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    Rp.
                                </span>
                            </span>
                                <input type="text" v-money="moneyConfig" v-model.lazy="partsRow.price" class="form-control text-right" placeholder="Estimasi...">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot class="border-blue-300">
                    <tr class="bg-orange-600">
                        <td colspan="4">
                            TOTAL ESTIMASI Parts & Jasa
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        Rp.
                                    </span>
                                </span>
                                <input type="text" v-model="moneyConfig" v-model.lazy="totalPartsCharge" class="form-control text-right" placeholder="Total Estimasi...">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <button type="button" v-on:click="addPartsRow" class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i class="icon-plus3"></i></b> Tambah Parts</button>
                            <button type="button" v-on:click="deleteSelectedPartsRow" class="btn btn-warning btn-labeled btn-labeled-left btn-sm"><b><i class="icon-trash-alt"></i></b> Hapus pilihan</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </fieldset>
</template>

<script>
    import select2 from '../../Select2Component';
    import { VMoney } from 'v-money';


    export default {
        name: "BahanDanJasa",
        components: { select2 },
        directive: { VMoney },
        data() {
            return {
                totalService: 0,
                moneyConfig: {
                    // The character used to show the decimal place.
                    decimal: ',',
                    // The character used to separate numbers in groups of three.
                    thousands: '.',
                    // The currency name or symbol followed by a space.
                    prefix: '',
                    // The suffix (If a suffix is used by the target currency.)
                    suffix: '',
                    // Level of decimal precision. REQUIRED
                    precision: 0,
                    // If mask is false, outputs the number to the model. Otherwise outputs the masked string.
                    masked: false
                },
                serviceRows: [
                    { service: null, price: 0, selected: null },
                    { service: null, price: 0, selected: null },
                    { service: null, price: 0, selected: null },
                ],
                partsRows: [
                    [
                        { parts: null, quantity: 0, price: 0, selected: null },
                        { parts: null, quantity: 0, price: 0, selected: null },
                        { parts: null, quantity: 0, price: 0, selected: null },
                    ],
                ]
            }
        },
        methods: {
            addServiceRow() {
                this.serviceRows.push({service: null, price: null, selected: null});
            },
            deleteSelectedServiceRow() {
                this.serviceRows.reduce((list, row, index) => {
                    if (row.selected) list.push(index);
                    return list;
                }, []).reverse().forEach((index) => {
                    this.serviceRows.splice(index,1);
                });
            },
            addPartsRow() {
                this.partsRows.push({ parts: null, quantity: 0, price: 0, selected: null });
            },
            deleteSelectedPartsRow() {
                this.partsRows.reduce((list, row, index) => {
                    if (row.selected) list.push(index);
                    return list;
                }, []).reverse().forEach((index) => {
                    this.partsRows.splice(index,1);
                });
            },
        },
        computed: {
            totalServiceCharge() {
                let sum = 0;
                let pattern = /[^\d]/g;
                let price = 0;
                this.serviceRows.forEach((row) => {
                    console.log(typeof row.price);
                    if (typeof row.price === 'string') {
                        price = parseFloat(row.price.replace(pattern, ''));
                        sum += price;
                    }
                });

                return sum.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.");
            },

            totalPartsCharge() {
                let sum = 0;
                let pattern = /[^\d]/g;
                let price = 0;
                this.partsRows.forEach((row) => {
                    console.log(typeof row.price);
                    if (typeof row.price === 'string') {
                        price = parseFloat(row.price.replace(pattern, ''));
                        sum += price;
                    }
                });

                return sum.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.");
            }
        }
    }
</script>

<style scoped>

</style>