<template>
    <fieldset>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <table class="table table-bordered table-striped table-xxs my-2">
                        <thead>
                        <tr>
                            <th colspan="2">Detail Mobil</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-gear mr-2"></i> V.I.N/No. Casis:</td>
                            <td class="text-right text-uppercase">{{ vehicle.vin_number }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-truck mr-2"></i> No. Mesin:</td>
                            <td class="text-right text-uppercase">{{ vehicle.engine_number }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-list-numbered mr-2"></i> No. Polisi:</td>
                            <td class="text-right">{{ vehicle.plate_number }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-git-branch mr-2"></i> Merek:</td>
                            <td class="text-right">{{ vehicle.brand_id }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-list3 mr-2"></i> Tipe:</td>
                            <td class="text-right">{{ vehicle.brand_series }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-color-sampler mr-2"></i> Warna:</td>
                            <td class="text-right">{{ vehicle.colour }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-calendar3 mr-2"></i> Tahun:</td>
                            <td class="text-right">{{ vehicle.build_year }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-stack mr-2"></i> Jenis Mobil:</td>
                            <td class="text-right"></td>
                        </tr>
                        <tr>
                            <td><i class="icon-transmission mr-2"></i> Transmisi:</td>
                            <td class="text-right">{{ vehicle.transmision_id }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-traffic-cone mr-2"></i> Bahan Bakar:</td>
                            <td class="text-right">{{ vehicle.fuel_id }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7">
                    <table class="table table-bordered table-striped table-xxs my-2">
                        <thead>
                        <tr>
                            <th colspan="2">Owner</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-user-check mr-2"></i> Nama:</td>
                            <td class="text-right text-uppercase">{{ owner.fullname }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-phone mr-2"></i> Telepon/Mobile:</td>
                            <td class="text-right text-uppercase">{{ owner.phone_number}}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-mail5 mr-2"></i> Email:</td>
                            <td class="text-right text-uppercase">{{ owner.email }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Alamat:</td>
                            <td class="text-right text-uppercase">{{ owner.address }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Propinsi:</td>
                            <td class="text-right text-uppercase">{{ owner.province_id }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Kabupaten:</td>
                            <td class="text-right text-uppercase">{{ owner.district_id }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Kodepos:</td>
                            <td class="text-right text-uppercase">{{ owner.zip_code }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <legend class="font-weight-semibold text-uppercase font-size-sm bg-indigo-300 p-2">
            <i class="icon-truck mr-2"></i>
            Informasi Mobil
            <a href="#" class="float-right text-default" data-toggle="collapse" data-target="#demo1">
                <i class="icon-circle-down2"></i>
            </a>
        </legend>

        <div class="collapse show" id="demo1">
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Nama Lengkap Driver</label>
                    <select data-placeholder="Salutation" data-vv-as="Salutation" v-validate="'required'" class="form-control form-control-select2" data-fouc>
                        <option></option>
                        <option value="germany">Tuan</option>
                        <option value="france">Nyonya</option>
                        <option value="spain">Nona</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <label>&nbsp;</label>
                    <input type="text" name='driver' data-vv-as="Pengemudi" v-validate="'required'" placeholder="Driver/Pembawa Mobil" class="form-control">
                    <span v-show="errors.has('driver')"
                          class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('driver') }}
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Kilometer Terakhir:</label>
                    <input type="number" class="form-control" placeholder="Km. Terakhir">
                </div>
            </div>
        </div>
    </fieldset>
</template>

<script>
    export default {
        name: "DataKendaraan",
        props: [
            "vehicle"
        ],
        data() {
            return {
                owner: this.vehicle.owners[0],
                //driver: null
            }
        }
    }
</script>