<template>
    <fieldset class="p-3">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-xs permasalahan">
                    <thead class="bg-orange">
                    <tr>
                        <th>#</th>
                        <th>Permasalahan</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in problemRows">
                        <td style="width: 3%;" class="text-center">
                            <input type="checkbox" v-model="row.selected" :selected="row.selected">
                        </td>
                        <td style="width: 75%">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">#</span>
                                </span>
                                <input type="text" v-model="row.problem" class="form-control" placeholder="Permasalahan Kendaraan..">
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                    <tfoot class="border-blue-300">
                    <tr>
                        <td colspan="3">
                            <button type="button" v-on:click="addRow" class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i class="icon-plus3"></i></b> Tambah Permasalahan</button>
                            <button type="button" v-on:click="deleteSelectedRow" class="btn btn-warning btn-labeled btn-labeled-left btn-sm"><b><i class="icon-trash-alt"></i></b> Hapus pilihan</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </fieldset>
</template>

<script>

    import axios from 'axios';

    export default {
        name: "Keluhan",
        props: [
            'urlSave', 'problems'
        ],
        data() {
            return {
                problemRows: this.problems,
                initialId: this.problems.length
            }
        },
        methods: {
            addRow: function() {
                this.initialId++;
                this.problemRows.push({id: this.initialId, problem: null, selected: null});
            },
            removeRow: function(index) {
                this.problemRows.splice(index, 1);
            },
            deleteSelectedRow: function () {
                this.problemRows.reduce((list, row, index) => {
                    if (row.selected) list.push(index);
                    return list;
                }, []).reverse().forEach((index) => {
                    this.problemRows.splice(index,1);
                });
            },
            save: function() {
                axios.post(this.urlSave, this.problemRows).then((response) => {

                }).catch((error) => {

                });
            }
        }
    }
</script>