<template>
    <table class="table table-xs mechanics">
        <thead class="bg-orange">
        <tr>
            <th>#</th>
            <th>Nama Mekanik</th>
            <th>Catatan</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(mechanic, index) in mechanics">
            <td style="width: 3%;" class="text-center p-0">
                <a href="javascript:" class="badge badge-icon rounded-circle bg-danger"
                   v-on:click.prevent="removeRow(index)" v-show="hasAccess"><i class="icon-cross2"></i></a>
            </td>
            <td style="width: 25%">
                <select2
                        url="/api/mechanics"
                        v-model="mechanic.mechanic_id"
                        name="mechanic[]"
                        :data-index="index+1"
                        placeholder="Nama Mekanik"
                        :options="mechanic.mechanic"
                        class="form-control"
                        min="0"
                >
                </select2>
            </td>
            <td style="width: 62%" class="pl-0">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text">#</span>
                    </span>
                    <input type="text" v-model="mechanic.notes" class="form-control text-uppercase"
                           placeholder="Catatan">
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot class="border-blue-300 bg-orange-300" v-show="hasAccess">
        <tr>
            <td colspan="3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button type="button" v-on:click="addRow"
                                class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i
                                class="icon-plus3"></i></b> Tambah Mekanik
                        </button>
                    </div>

                    <button type="button" v-show="withSubmit" v-on:click="storeMechanics"
                            class="btn btn-info btn-labeled btn-labeled-left btn-sm"><b><i class="icon-floppy-disk"></i></b>
                        Simpan Data Mekanik
                    </button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</template>

<script>
    import select2 from '../../Select2Component';
    import {EventBus} from "../../../eventbus";
    import axios from 'axios';

    export default {
        name      : "Mechanics",
        components: {select2},
        props     : {
            mechanics  : {default: []},
            withSubmit : {type: Boolean, default: false},
            url        : {type: Object},
            workOrderId: {type: Number}
        },
        data() {
            return {
                initialId: 0,
                hasAccess: __ROLE.includes('update work-order-mechanic'),
            }
        },
        methods   : {
            addRow() {
                this.initialId++;
                this.mechanics.push({id: this.initialId, mechanic_id: null, mechanic_text: null, notes: null});
            },
            removeRow(index) {
                this.mechanics.splice(index, 1);
            },
            storeMechanics() {
                axios.post('work-order/mechanics', {form: this.mechanics, workOrderId: this.workOrderId})
                     .then((response) => {
                         swal(
                             response.data.title,
                             response.data.message,
                             'success'
                         ).then(() => {
                             EventBus.$emit("MECHANIC::UPDATED");
                             EventBus.$emit("DATATABLE:RELOAD");
                         });
                     })
                     .catch((error) => {
                         console.log(error);
                     });
            },
            updateSelectedText(data) {
                this.mechanics[data.index - 1].mechanic_text = data.value;
            }
        },
        created() {
            EventBus.$on("MECHANIC:SUBMIT", this.storeMechanics);
        }
    }
</script>