<template>
    <b-modal ref="modalService" size="full" header-class="bg-indigo-300" footer-class="bg-transparent" no-enforce-focus>
        <service-form :services="services" :work-order-id="workOrderId"></service-form>

        <!--<div slot="modal-footer" class="text-right p-t-5" v-show="hasAccess">-->
            <!--<button type="submit" class="btn btn-primary" v-on:click.prevent="submitData">-->
                <!--<span class="text-uppercase">SIMPAN DATA JASA & SERVICE</span> <i class="icon-floppy-disk ml-2"></i>-->
            <!--</button>-->
        <!--</div>-->
    </b-modal>
</template>

<script>
    import ServiceForm from "../../partials/ServiceForm";
    import {EventBus} from "../../../eventbus";

    export default {
        name      : "ModalServices",
        data() {
            return {
                hasAccess  : __ROLE.includes('update work-order-service'),
                services   : [],
                workOrderId: null,
            }
        },
        components: {ServiceForm},
        methods   : {
            submitData() {
                EventBus.$emit('SERVICES:SUBMIT');
            }
        },
        created() {
            EventBus.$on("WORK-ORDER:SERVICES", (response) => {
                this.services    = response.data;
                this.workOrderId = response.workOrderId;
                this.$refs.modalService.show();
            })
        }
    }
</script>