<template>
    <b-modal ref="modalProblems" size="full" header-class="bg-indigo-300" footer-class="bg-transparent"
             no-enforce-focus>
        <problem-form :problems="problems" :work-order-id="workOrderId"></problem-form>

        <!--<div slot="modal-footer" class="text-right p-t-5" v-show="hasAccess">-->
            <!--<button type="submit" class="btn btn-primary" v-on:click.prevent="submitData">-->
                <!--<span class="text-uppercase">SIMPAN DATA PERMASALAHAN MOBIL</span> <i class="icon-floppy-disk ml-2"></i>-->
            <!--</button>-->
        <!--</div>-->
    </b-modal>
</template>

<script>
    import ProblemForm from "../../partials/ProblemForm";
    import {EventBus} from "../../../eventbus";

    export default {
        name      : "ModalProblems",
        data() {
            return {
                hasAccess  : __ROLE.includes('update work-order-part'),
                problems   : [],
                workOrderId: null,
            }
        },
        components: {ProblemForm},
        methods   : {
            submitData() {
                EventBus.$emit('PROBLEMS:SUBMIT');
            }
        },
        created() {
            EventBus.$on("WORK-ORDER:PROBLEMS", (response) => {
                this.problems    = response.data;
                this.workOrderId = response.workOrderId;
                this.$refs.modalProblems.show();
            });
        }
    }
</script>