<template>
    <b-modal ref="modalEstimated" header-class="bg-teal-300" footer-class="bg-transparent" hide-footer no-enforce-focus>
        <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
            <input type="hidden" v-model="workOrderId">
            <fieldset>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Estimasi:</label>
                        <input type="number" name="hours" v-model="form.hours" data-vv-as="JAM" class="form-control" v-validate="'required|between:0,24'" placeholder="JAM">
                        <span v-show="errors.has('hours')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('hours') }}
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label>&nbsp;</label>
                        <input type="number" name="minutes" v-model="form.minutes" data-vv-as="Menit" class="form-control" v-validate="'required|between:0,60'" placeholder="MENIT">
                        <span v-show="errors.has('minutes')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('minutes') }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Keterangan:</label>
                    <textarea class="form-control" name="description" v-model="form.notes"
                              placeholder="Deskripsi perubahan estimasi selesai (Jika ada)" rows="3"></textarea>
                </div>
            </fieldset>
            <div class="text-right">
                <button type="submit" class="btn btn-primary"><span class="text-uppercase">SIMPAN ESTIMASI SELESAI</span> <i class="icon-floppy-disk ml-2"></i></button>
            </div>
        </form>
    </b-modal>
</template>

<script>
    import { EventBus } from "../../../eventbus";
    import axios from 'axios';

    export default {
        name: "ModalTimeEstimated",
        data() {
            return {
                hasAccess: __ROLE.includes('update work-order-time'),
                form: {},
                workOrderId: null
            }
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.storeEstimated();

                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            },
            storeEstimated() {
                axios.patch('work-order/estimated-time', { form: this.form, workOrderId: this.workOrderId })
                    .then((response) => {
                        if (response.data.success) {
                            swal({
                                type: "success",
                                text: response.data.message,
                                title: response.data.title
                            }).then(() => {
                                EventBus.$emit('DATATABLE:RELOAD');
                                this.$refs.modalEstimated.hide();
                            })
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        },
        created() {
            EventBus.$on("WORK-ORDER:ESTIMATED", (response) => {
                if (!this.hasAccess) {
                    swal({
                        type: "warning",
                        text: "Anda tidak memiliki permission untuk mengubah waktu estimasi",
                        title: "Access Denied"
                    }).then(() => {
                        return false;
                    });

                    return;
                }

                this.form = response.data || {};
                this.workOrderId = response.workOrderId;
                this.$refs.modalEstimated.show();
            } );
        }
    }
</script>