<template>
    <b-modal ref="modalMechanics" size="full" header-class="bg-indigo-300" footer-class="bg-transparent" no-enforce-focus >
        <fieldset>
            <mechanics :mechanics="mechanics" :work-order-id="workOrderId"></mechanics>
        </fieldset>

        <div slot="modal-footer" class="text-right p-t-5" v-show="hasAccess">
            <button type="submit" class="btn btn-primary" v-on:click.prevent="submitData">
                <span class="text-uppercase">SIMPAN DATA MEKANIK</span> <i class="icon-floppy-disk ml-2"></i>
            </button>
        </div>
    </b-modal>
</template>

<script>
    import Mechanics from './Mechanics';
    import {EventBus} from "../../../eventbus";

    export default {
        name: "ModalMechanics",
        data() {
            return {
                hasAccess: __ROLE.includes('update work-order-mechanic'),
                mechanics: [],
                workOrderId: null
            }
        },
        components: { Mechanics },
        methods: {
            submitData() {
                EventBus.$emit('MECHANIC:SUBMIT');
            }
        },
        created() {
            EventBus.$on("WORK-ORDER:MECHANICS", (response) => {
                this.mechanics = response.data;
                this.workOrderId = response.workOrderId;
                this.$refs.modalMechanics.show();
            });

            EventBus.$on("MECHANIC::UPDATED", () => {
                this.$refs.modalMechanics.hide();
            });

            this.$root.$on('bv::modal::hidden', () => {
                EventBus.$emit('DATATABLE:RELOAD');
            });
        }
    }
</script>