<template>
    <b-modal ref="modalStatus" header-class="bg-teal-300" footer-class="bg-transparent" hide-footer no-enforce-focus>
        <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
            <input type="hidden" v-model="form.work_order_id">
            <fieldset>
                <div class="form-group">
                    <label>Status:</label>
                    <select2
                            :options="options"
                            data-vv-as="Status Work Order"
                            name="status"
                            placeholder="Status Work Order"
                            class="form-control"
                            v-model="form.status_id"
                            :value="form.status_id"
                    ></select2>
                </div>
                <div class="form-group">
                    <label>Keterangan:</label>
                    <textarea class="form-control" name="description" v-model="form.notes"
                              placeholder="Deskripsi perubahan status (Jika ada)" rows="3"></textarea>
                </div>
            </fieldset>
            <div class="text-right">
                <button type="submit" class="btn btn-primary"><span class="text-uppercase">UBAH WORK ORDER STATUS</span> <i class="icon-floppy-disk ml-2"></i></button>
            </div>
        </form>
    </b-modal>
</template>

<script>
    import select2 from '../../Select2Component';
    import { EventBus } from "../../../eventbus";
    import axios from 'axios';

    const user = JSON.parse(window.__CURRENT_USER__);
    const role = user.roles[0].name;

    const roleCanAccessStatus = {
        "Service Advisor (SA)": [
            {id: 8, text: "WO COMPLETED"}
        ],
        "Kepala Bengkel": [
            {id: 5, text: "(RE-CHECK) WORK IN PROGRESS"},
            {id: 7, text: "FINAL INSPECTION END"},
        ],
        "Control Tower (CT)": [
            {id: 2, text: "WORK IN PROGRESS"},
            {id: 3, text: "TUNGGU SPARE PART"},
            {id: 4, text: "FINAL INSPECTION"}
        ],
        "Final Inspection (FI)": [
            {id: 5, text: "(RE-CHECK) WORK IN PROGRESS"},
            {id: 6, text: "INSPECTION COMPLETED"}
        ],
        "Body Repair": [
            {id: 2, text: "WORK IN PROGRESS"},
            {id: 3, text: "TUNGGU SPARE PART"},
            {id: 4, text: "FINAL INSPECTION"},
            {id: 5, text: "(RE-CHECK) WORK IN PROGRESS"},
            {id: 6, text: "INSPECTION COMPLETED"},
            {id: 7, text: "FINAL INSPECTION END"},
            {id: 8, text: "WO COMPLETED"}
        ]
    };

    export default {
        name: "ModalStatus",
        components: { select2 },
        data() {
            return {
                hasAccess: __ROLE.includes('update work-order-status'),
                options: roleCanAccessStatus[role],
                url: {},
                form: {}
            }
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.storeStatus();

                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            },
            storeStatus() {
                axios.post(this.url.store, this.form)
                    .then((response) => {
                        if (response.data.success) {
                            if (response.data.status === 'error') {
                                swal({
                                    type: "error",
                                    text: response.data.message,
                                    title: response.data.title
                                });
                            } else {
                                EventBus.$emit('status::changed', {data: response.data.payload});
                                
                                swal({
                                    type: "success",
                                    text: response.data.message,
                                    title: response.data.title
                                }).then(() => {
                                    EventBus.$emit('DATATABLE:RELOAD');
                                    this.$refs.modalStatus.hide();
                                })
                            }
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        },
        created() {
            EventBus.$on("WORK-ORDER:STATUS", (response) => {
                if (!this.hasAccess) {
                    swal({
                        type: "warning",
                        text: "Anda tidak memiliki permission untuk mengubah status WORK ORDER",
                        title: "Access Denied"
                    }).then(() => {
                        return false;
                    });

                    return;
                }


                this.form = response;
                this.url = response.url;
                this.$refs.modalStatus.show();
            } );
        }
    }
</script>
