<template>
    <b-modal ref="modalSpareparts" size="full" header-class="bg-indigo-300" footer-class="bg-transparent" no-enforce-focus>
        <sparepart-form :spareparts="spareparts" :work-order-id="workOrderId"></sparepart-form>

        <div slot="modal-footer" class="text-right p-t-5" v-show="hasAccess">
            <button type="submit" class="btn btn-primary" v-on:click.prevent="submitData">
                <span class="text-uppercase">SAVE DATA SPAREPART</span> <i class="icon-floppy-disk ml-2"></i>
            </button>
        </div>
    </b-modal>
</template>

<script>
    import SparepartForm from '../../partials/SparepartForm';
    import {EventBus} from "../../../eventbus";

    export default {
        name: "ModalParts",
        data() {
            return {
                hasAccess: __ROLE.includes('update work-order-part'),
                spareparts: [],
                workOrderId: null,
            }
        },
        components: { SparepartForm },
        methods: {
            submitData() {
                EventBus.$emit('SPAREPARTS:SUBMIT');
            }
        },
        created() {
            EventBus.$on("WORK-ORDER:SPAREPARTS", (response) => {
                this.spareparts = response.data;
                this.workOrderId = response.workOrderId;

                this.$refs.modalSpareparts.show();
            } );

            EventBus.$on("SPAREPART:UPDATED", () => {
                this.$refs.modalSpareparts.hide();
            });
        }
    }
</script>