<template>
    <b-modal ref="modalDetail" size="full" title="Detail Work Order" header-class="bg-indigo-300" footer-class="bg-transparent">
        <work-order-detail-page :data-work-order="workOrder"></work-order-detail-page>
    </b-modal>
</template>

<script>
    const initData = {
        "id": 0,
        "code": "",
        "plate_number": "",
        "vin_number": null,
        "engine_number": null,
        "owner_id": null,
        "service_advisor_id": 0,
        "status_id": 0,
        "driver": "",
        "driver_phone": "",
        "latest_millage": "",
        "service_discount": 0,
        "service_price": 0,
        "part_price": 0,
        "part_discount": 0,
        "total_price": 0,
        "minutes_estimated": 0,
        "estimated_time": {
            "hours": 0,
            "minutes": 0
        },
        "arrived_date": null,
        "arrived_time": null,
        "car_return_from": null,
        "owner": {
            "id": null,
            "fullname": "",
            "is_insurance": "0",
            "owner_group": null,
            "insurance_name": null,
            "address": "",
            "zip_number": null,
            "phone_number": "",
            "email": "",
            "registered": "",
            "salutation": {
                "id": "",
                "name": ""
            },
            "province": {
                "id": null,
                "name": "",
                "options": [
                    {
                        "id": null,
                        "text": ""
                    }
                ]
            },
            "district": {
                "id": "",
                "name": "",
                "options": [
                    {
                        "id": null,
                        "text": ""
                    }
                ]
            }
        },
        "vehicle": {
            "id": null,
            "vin_number": null,
            "plate_number": null,
            "engine_number": null,
            "brand_id": null,
            "brand_series": "",
            "build_year": null,
            "colour": "",
            "millage": 0,
            "transmision_id": null,
            "fuel_id": null,
            "car_type_id": null,
            "last_service": null,
            "last_service_human": null,
            "registered": "",
            "registered_human": "",
            "brand": {
                "id": null,
                "name": ""
            },
            "transmision": {
                "id": null,
                "name": ""
            },
            "fuel": {
                "id": null,
                "name": ""
            },
            "carType": {
                "id": null,
                "name": ""
            }
        },
        "problems": [],
        "services": [],
        "service_manuals": [],
        "parts": [],
        "mechanics": [],
        "statusLogs": []
    };
    import { EventBus } from "../../../eventbus";
    import WorkOrderDetailPage from "../../partials/WorkOrderDetailPage";

    export default {
        name: "ModalDetail",
        components: { WorkOrderDetailPage },
        data() {
            return {
                workOrder: initData
            }
        },
        created() {
            EventBus.$on("WORK-ORDER:DETAIL", (payload) => {
                console.log(payload);
                this.workOrder = payload.data;
                this.$refs.modalDetail.show();
            });
        }
    }
</script>