<template>
    <div class="card-body bg-light">
        <b-tabs nav-class="nav nav-tabs-highlight nav-tabs-solid nav-justified bg-light" v-model="tabIndex">
            <b-tab active>
                <div slot="title">
                    Keluhan & Masalah
                </div>

                <problem-detail :problems="workOrder.problems"></problem-detail>
            </b-tab>
            <b-tab>
                <div slot="title">
                    Jasa & Sparepart
                </div>

                <service-detail :services="workOrder.services" :service_discount="workOrder.service_discount"></service-detail>

                <sparepart-detail :spareparts="workOrder.parts" :part_discount="workOrder.part_discount"></sparepart-detail>
            </b-tab>
            <b-tab>
                <div slot="title">
                    Timeline Pengerjaan
                </div>

                <div class="col-sm-12">
                    <!-- Left aligned -->
                    <div class="card card-body border-top-teal">
                        <status-log-detail :status-logs="workOrder.statusLogs"></status-log-detail>
                    </div>
                    <!-- /left aligned -->
                </div>
            </b-tab>
            <b-tab>
                <div slot="title">
                    Mekanik
                </div>

                <mechanic-detail :mechanics="workOrder.mechanics"></mechanic-detail>
            </b-tab>
        </b-tabs>
    </div>
</template>

<script>
    import ProblemDetail from "../detail/ProblemDetail";
    import ServiceDetail from "../detail/ServiceDetail";
    import SparepartDetail from "../detail/SparepartDetail";
    import StatusLogDetail from "../detail/StatusLogDetail";
    import Mechanics from "./Mechanics";
    import MechanicDetail from "../detail/MechanicDetail";
    export default {
        name: "WorkOrderTabsDetail",
        components: { MechanicDetail, StatusLogDetail, SparepartDetail, ServiceDetail, ProblemDetail },
        props: {
            workOrder: { required: true }
        },
        data() {
            return {
                tabIndex: 0
            }
        }
    }
</script>

<style scoped>

</style>