<template>
    <div class="table-responsive">
        <table id="work-order-table" class="table table-orders-history text-nowrap">
            <thead>
            <tr>
                <th>WO Sementara</th>
                <th>Service Advisor</th>
                <th>Kendaraan</th>
                <th>Owner</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
    </div>
</template>

<script>
    import { EventBus } from "../../eventbus";
    import axios from 'axios';

    export default {
        name: "GridWOTemp",
        props: [
            "ajax"
        ],
        data() {
            return {
                table: null
            }
        },
        mounted() {
            const vm = this;

            const showModal = function() {
                $('.show-modal').on('click', function(e) {
                    e.preventDefault();
                    let dataEvent = $(this).data('event');
                    let dataContent = $(this).data('content');
                    let dataUrl = $(this).data('url');

                    if (typeof dataUrl !== "undefined") {
                        axios.get(dataUrl)
                             .then((response) => {
                                 if (response.data.success) {
                                     EventBus.$emit(dataEvent, { data: response.data.data, id: response.data.id });
                                     return;
                                 }
                             })
                    } else {
                        EventBus.$emit(dataEvent, dataContent);
                    }
                });
            };

            let draw_counter = 0;
            $.extend( $.fn.dataTable.defaults, {
                autoWidth: false,
                displayLength: 25,
                columnDefs: [
                    { width: "5%", targets: 3 }
                ],
                dom: '<"datatable-header datatable-header-accent"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                language: {
                    search: '<span>Pencarian:</span> _INPUT_',
                    searchPlaceholder: 'No. Polisi/No. Chassis',
                    lengthMenu: '<span>Tampilkan:</span> _MENU_',
                    paginate: { 'first': 'Pertama', 'last': 'Terakhir', 'next': $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;' }
                }
            });

            this.table = $('#work-order-table').DataTable({
                serverSide: true,
                processing: true,
                pageLength: 25,
                order: [[ 0, "desc" ]],
                ajax: `${window.baseUrl}/work-order-temp/data`,
                columns: [
                    {data: 'code', className: "text-nowrap"},
                    {data: 'service_advisor.name', searchable: false, sortable: false},
                    {data: 'vehicle', className: "text-nowrap"},
                    {data: 'owner', className: "text-nowrap"},
                    {data: 'action', className: 'text-center', searchable: false, sortable: false}
                ],
                scrollX: true,
                scrollY: '350px',
                scrollCollapse: true,
                fixedColumns: {
                    leftColumns: 0,
                    rightColumns: 1
                },
                drawCallback: function() {
                    if ( draw_counter !== this.fnSettings().iDraw ) {
                        showModal();
                        draw_counter = this.fnSettings().iDraw;
                    }
                }
            });
        },
        created() {
            EventBus.$on("datatables::reload", () => {
                this.table.ajax.reload();
            });
        }
    }
</script>