<template>
    <b-modal ref="modalVehicleDetail" title="Informasi Kendaraan Yang Dimiliki" size='full' header-class="bg-teal" hide-footer no-enforce-focus>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-nowrap bg-teal">
                    <thead>
                    <tr class="bg-teal-700">
                        <th>No. Chassis</th>
                        <th>No. Mesin</th>
                        <th>No. Polisi</th>
                        <th>Merek</th>
                        <th>Series</th>
                        <th>Tahun</th>
                        <th>Warna</th>
                        <th>Tgl. Terdaftar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="vehicle in vehicles">
                        <td>{{ vehicle.vin_number }}</td>
                        <td>{{ vehicle.engine_number }}</td>
                        <td>{{ vehicle.plate_number }}</td>
                        <td>{{ vehicle.brand_id }}</td>
                        <td>{{ vehicle.brand_series }}</td>
                        <td>{{ vehicle.build_year }}</td>
                        <td>{{ vehicle.colour }}</td>
                        <td>{{ vehicle.register_date }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </b-modal>
</template>

<script>
    import { EventBus } from "../../../eventbus";

    export default {
        name: "VehicleDetail",
        data() {
            return {
                vehicles: []
            }
        },
        created() {
            EventBus.$on("VEHICLES:OWNERHAS", (vehicles) => {
                this.vehicles = vehicles;
                this.$refs.modalVehicleDetail.show();
            })
        }
    };
</script>