<template>
    <b-modal id="mcc" ref="modalVehicleEditForm" title="Edit Kendaraan" size='lg' header-class="bg-teal" hide-footer no-enforce-focus>
        <div class="card-body">
            <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>V.I.N</label>
                        <input type="text" class="form-control" name="vin_number" data-vv-as="Nomor Chassis" v-validate="'required'"
                               v-model="vehicle.vin_number" placeholder="Masukkan V.I.N/No. Chassis">

                        <span v-show="errors.has('vin_number')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('vin_number') }}
                    </span>
                    </div>

                    <div class="col-md-4">
                        <label>No. Mesin:</label>
                        <input type="text" class="form-control" name="engine_number" v-model="vehicle.engine_number"
                               data-vv-as="Nomor Chassis" v-validate="'required'" placeholder="Masukkan No. Mesin">

                        <span v-show="errors.has('engine_number')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('engine_number') }}
                    </span>
                    </div>

                    <div class="col-md-4">
                        <label>No. Polisi:</label>
                        <input type="text" class="form-control" name="plate_number" v-model="vehicle.plate_number" data-vv-as="Nomor Polisi"
                               v-validate="'required'" placeholder="Masukkan No. Plat Mobil">

                        <span v-show="errors.has('plate_number')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('plate_number') }}
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Merek Kendaraan:</label>
                        <select2 url="/api/brands" data-vv-as="Merek Kendaraan" v-validate="'required'"
                                 name="brand_id" placeholder="Pilih Brand Kendaraan" class="form-control"
                                 v-model="vehicle.brand_id"
                                 :value="vehicle.brand_id"
                                 :options="vehicle.brand.option"
                        >
                        </select2>

                        <span v-show="errors.has('brand_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('brand_id') }}
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label>Tipe:</label>
                        <input type="text" class="form-control" name="brand_series" v-model="vehicle.brand_series"
                               data-vv-as="Tipe Brand" v-validate="'required'" placeholder="ex: Honda Civic">

                        <span v-show="errors.has('brand_series')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('brand_series') }}
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Jenis Mobil:</label>
                        <select2
                                :options="options.car_type"
                                data-vv-as="Tipe Mobil"
                                v-validate="'required'"
                                name="car_type_id"
                                placeholder="Tipe Mobil"
                                class="form-control"
                                v-model="vehicle.car_type_id">
                        </select2>
                        <span v-show="errors.has('car_type_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('car_type_id') }}
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label>Bahan Bakar Mobil:</label>
                        <select2
                                :options="options.fuel"
                                data-vv-as="Bahan Bakar Mobil"
                                v-validate="'required'"
                                name="fuel_id"
                                placeholder="Bahan Bakar Mobil"
                                class="form-control"
                                v-model="vehicle.fuel_id"
                                :value="vehicle.fuel_id"
                        >
                        </select2>
                        <span v-show="errors.has('fuel_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('fuel_id') }}
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label>Warna:</label>
                        <input type="text" class="form-control" name="colour" v-model="vehicle.colour"
                               data-vv-as="Warna" v-validate="'required'" placeholder="Warna Mobil">

                        <span v-show="errors.has('colour')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('colour') }}
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Transmisi:</label>
                        <select2
                                :options="options.transmission"
                                data-vv-as="Transmisi Mobil"
                                v-validate="'required'"
                                name="transmision_id"
                                placeholder="Transmisi"
                                class="form-control"
                                v-model="vehicle.transmision_id">
                        </select2>
                        <span v-show="errors.has('transmision_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('transmision_id') }}
                    </span>
                    </div>
                    <div class="col-md-3">
                        <label>Tahun:</label>
                        <input type="text" class="form-control" name="build_year" v-model="vehicle.build_year" data-vv-as="Tahun Pembuatan" v-validate="'required'" placeholder="Tahun">
                        <span v-show="errors.has('build_year')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('build_year') }}
                    </span>
                    </div>
                    <div class="col-md-3">
                        <label>KM:</label>
                        <input type="text" class="form-control" name="millage" v-model="vehicle.millage" data-vv-as="Km. Terakhir" v-validate="'required'" placeholder="Km">
                        <span v-show="errors.has('millage')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('millage') }}
                    </span>
                    </div>
                </div>

                <div class="text-right" v-show="editable">
                    <button type="submit" class="btn btn-primary"><span class="text-uppercase">Edit Kendaraan</span> <i class="icon-floppy-disk ml-2"></i></button>
                </div>
            </form>
        </div>
    </b-modal>
</template>

<script>
    import select2 from '../../Select2Component';
    import { EventBus } from '../../../eventbus';
    import axios from 'axios';
    import Swal from 'sweetalert2';

    const initialOptions = JSON.parse(window.__INITIAL_OPTIONS__) || {};
    const editable = __ROLE.includes("update vehicle");

    export default {
        name: "EditModal",
        components: { select2 },
        data() {
            return {
                options: initialOptions.options,
                editable: editable,
                vehicle: {
                    brand: {}
                }
            }
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post("/vehicles/update", {
                            form: this.vehicle
                        }).then((response) => {
                            Swal({
                                type: "success",
                                title: response.data.title,
                                text: response.data.message,
                                confirmButtonClass: 'btn btn-success',
                            }).then(() => {
                                this.$refs.modalVehicleEditForm.hide();
                            });
                        });

                        return;
                    }

                    Swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            }
        },
        created() {
            EventBus.$on("VEHICLE:EDIT", (vehicle) => {
                this.vehicle = vehicle.data;
                this.$refs.modalVehicleEditForm.show();
            })
        }
    }
</script>