<template>
    <b-modal ref="roleForm" header-class="bg-teal" hide-footer no-enforce-focus>
        <div class="card-body">
            <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
                <input type="hidden" name="id" v-model="form.id">
                <fieldset>
                    <legend class="font-weight-semibold text-uppercase font-size-sm">Informasi Roles</legend>

                    <div class="form-group">
                        <label>Nama Role:</label>
                        <input type="text" class="form-control" name="name" placeholder="Nama Role" v-validate="'required'" data-vv-as="Nama Role" v-model="form.name">
                        <label class="validation-invalid-label" v-show="errors.has('name')">{{ errors.first('name') }}</label>
                    </div>

                </fieldset>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span class="text-uppercase">{{ actionLabel }}</span> <i class="icon-floppy-disk ml-2"></i></button>
                </div>
            </form>
        </div>
    </b-modal>
</template>

<script>
    import { EventBus } from "../../../eventbus";
    import axios from 'axios'

    export default {
        name: "FormRoles",
        data() {
            return {
                form: {
                    id: null
                },
                actionLabel: '',
                roleId: null,
            }
        },
        methods: {
            store() {
                axios.post(`${window.baseUrl}/settings/roles`, this.form)
                    .then((response) => {
                        if (response.data.success) {
                            swal({
                                type: "success",
                                title: response.data.title,
                                text: response.data.message,
                                showCancelButton: true,
                                confirmButtonText: response.data.confirmLabel,
                                cancelButtonText: response.data.cancelLabel,
                                reverseButtons: true
                            })
                                .then((result) => {
                                    if (result.value)
                                        this.form = initForm;
                                    else if (result.dismiss === swal.DismissReason.cancel)
                                        this.$refs.roleForm.hide()
                                });
                        }
                    }).catch((error) => {
                        console.log(error);
                    });
            },
            update() {
                axios.patch(`${window.baseUrl}/settings/roles/${this.roleId}`, this.form)
                    .then((response) => {
                        if (response.data.success) {
                            swal({
                                title: response.data.title,
                                text: response.data.message,
                                type: 'success',
                            }).then(() => {
                                this.form = { id: null };
                                this.$refs.roleForm.hide();
                            })
                        }
                    }).catch((error) => {
                    console.error(error)
                })
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.form.id)
                            this.update();
                        else
                            this.store();
                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            }
        },
        created() {
            EventBus.$on("roles::edit", (payload) => {
                this.form = payload.data;
                this.roleId = payload.data.id;
                this.actionLabel = "EDIT ROLE";
                this.$refs.roleForm.show();
            });

            EventBus.$on("roles::add", () => {
                this.form = { id: null };
                this.actionLabel = "TAMBAH ROLE";
                this.$refs.roleForm.show();
            });

            this.$root.$on("bv::modal::hidden", () => {
                this.form = {};
                EventBus.$emit("datatables::reload");
            });
        }
    }
</script>