<template>
    <div>
        <table id="tableRoles" class="table table-condensed table-striped">
            <thead class="bg-teal-300">
            <tr>
                <th></th>
                <th>Nama</th>
                <th>Permission</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
        <form-roles></form-roles>
        <permissions></permissions>
    </div>
</template>

<script>
    import FormRoles from './FormRoles';
    import Permissions from "./Permissions";
    import axios from 'axios'
    import { EventBus } from "../../../eventbus";

    export default {
        name: "GridRoles",
        components: { Permissions, FormRoles },
        data() {
            return {
                table: null
            }
        },
        mounted() {
            const vm = this;

            const showModal = function() {
                $('.show-modal').on('click', function(e) {
                    e.preventDefault();
                    let dataEvent = $(this).data('event');
                    let dataContent = $(this).data('content');
                    let dataUrl = $(this).data('url');

                    if (typeof dataUrl !== "undefined") {
                        axios.get(dataUrl)
                            .then((response) => {
                                if (response.data.success) {
                                    EventBus.$emit(dataEvent, { data: response.data.data, permissions: response.data.permissions, role: response.data.role });
                                    return;
                                }
                            })
                    } else {
                        EventBus.$emit(dataEvent, dataContent);
                    }
                });
            };

            $.extend( $.fn.dataTable.defaults, {
                autoWidth: false,
                processing: true,
                dom: '<"datatable-header"flr><"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    search: '<span>Pencarian: </span> _INPUT_',
                    searchPlaceholder: 'Type to filter...',
                    lengthMenu: '<span>Tampilkan: </span> _MENU_',
                    info: 'Tampilkan _START_ sampai _END_ dari _TOTAL_ data',
                    paginate: {
                        'first': 'Pertama',
                        'last': 'Terakhir',
                        'next': $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;',
                        'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;'
                    }
                }
            });

            let draw_counter = 0;
            this.table = $('#tableRoles').DataTable({
                serverSide: true,
                processing: true,
                pageLength: 50,
                ajax: `${window.baseUrl}/settings/roles/data`,
                order: [[ 1, 'asc' ]],
                "columnDefs": [ {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                } ],
                columns: [
                    { data: "name" },
                    { data: "name", className: "font-weight-bold" },
                    { data: "permission" },
                    { data: "action", className: "text-center", searchable: false, orderable: false}
                ],
                drawCallback: function() {
                    if ( draw_counter !== this.fnSettings().iDraw ) {
                        showModal();
                        draw_counter=this.fnSettings().iDraw;
                    }
                }
            });

            this.table.on( 'order.dt search.dt', () => {
                this.table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        },
        created() {
            EventBus.$on("datatables::reload", () => {
                this.table.ajax.reload()
            });
        }
    }
</script>