<template>
    <b-modal ref="permissionModal" header-class="bg-teal" size="full" hide-footer no-enforce-focus>
        <div class="card-body">
            <h3>Role : {{ role.name }}</h3>
            <form v-on:submit.prevent="validateBeforeSubmit" autocomplete="off">
                <div class="form-group">
                    <tags-input element-id="tags"
                                v-model="selectedTags"
                                :existing-tags="permissions"
                                :typeahead="true"
                                typeahead-style="dropdown"
                                placeholder="Tambah Permission untuk Role"
                    >

                    </tags-input>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span class="text-uppercase">{{ actionLabel }}</span>
                        <i class="icon-floppy-disk ml-2"></i></button>
                </div>
            </form>
        </div>
    </b-modal>
</template>

<script>
    import axios from 'axios'
    import {EventBus} from "../../../eventbus";
    import VoerroTagsInput from "@voerro/vue-tagsinput";

    export default {
        name: "Permissions",
        components: {'tagsInput': VoerroTagsInput},
        data() {
            return {
                role: {},
                selectedTags: [],
                permissions: {},
                actionLabel: 'Assign Permission',
                roleId: null
            }
        },
        mounted() {
            this.getModules();
        },
        methods: {
            getModules() {
                axios.get(`${window.baseUrl}/api/permissions`)
                    .then((response) => {
                        this.permissions = JSON.parse(response.data.data);
                    });
            },
            update() {
                axios.post(`${window.baseUrl}/settings/permissions`,
                    {
                        roleId: this.role.id,
                        permissions: this.selectedTags
                    }
                ).then((response) => {
                    if (response.data.status) {
                        swal({
                            title: response.data.title,
                            text: response.data.message,
                            type: 'success',
                            confirmButtonClass: 'btn btn-success',
                        }).then(() => {
                            this.$refs.permissionModal.hide();
                        });
                    } else {
                        swal({
                            type: "error",
                            title: response.data.title,
                            text: response.data.message,
                            confirmButtonClass: 'btn btn-success',
                        });
                    }
                }).catch((error) => {
                    console.error(error);
                });
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.role.id !== null)
                            this.update();
                        return;
                    }

                    swal({
                        type: "error",
                        title: "Lengkapi field",
                        text: "Mohon isi data dengan benar"
                    });
                });
            }
        },
        created() {
            EventBus.$on("roles::permissions", (payload) => {
                this.role = payload.role;
                this.selectedTags = payload.permissions;
                this.$refs.permissionModal.show();
            });

            this.$parent.$on("bv::modal::hidden", () => {

            });
        }
    }
</script>

<style>
    @import "~@voerro/vue-tagsinput/dist/style.css";

    .tags-input-badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 100%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
    }

    .tags-input span {
        margin: 0.2rem;
    }
</style>