<template>
    <table class="table table-xs permasalahan">
        <thead class="bg-orange">
        <tr>
            <th>#</th>
            <th>Permasalahan</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(row, index) in problems">
            <tr>
                <td style="width: 3%;" class="text-center" rowspan="2">
                    <a href="javascript:" class="badge badge-icon rounded-circle bg-danger font-size-xs"
                       v-on:click.prevent="removeRow(index)" v-show="hasAccess"><i class="icon-cross2"></i></a>
                </td>
                <td style="width: 75%" class="pl-0">
                    <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text">#</span>
                    </span>
                        <input type="text" v-model="row.problem" class="form-control text-capitalize"
                               placeholder="Permasalahan/Keluhan Kendaraan..">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pl-0">
                    <textarea class="form-control" v-model="row.description" placeholder="Deskripsi Permasalahan/Keluhan"></textarea>
                </td>
            </tr>
        </template>

        </tbody>
        <tfoot class="border-blue-300 bg-orange-300">
        <tr v-show="hasAccess">
            <td colspan="3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button type="button" v-on:click="addRow"
                                class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i
                                class="icon-plus3"></i></b> Tambah Permasalahan
                        </button>
                    </div>

                    <button type="button" v-show="withSubmit" v-on:click="storeProblems"
                            class="btn btn-info btn-labeled btn-labeled-left btn-sm"><b><i class="icon-floppy-disk"></i></b>
                        Simpan Keluhan & Masalah
                    </button>

                    <button type="button" v-on:click="print"
                            class="btn btn-info btn-labeled btn-labeled-left btn-sm"><b><i class="icon-printer"></i></b>
                        CETAK KELUHAN/MASALAH
                    </button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</template>

<script>
    import axios from 'axios';
    import {EventBus} from "../../eventbus";

    export default {
        name   : "ProblemForm",
        props  : ["problems", "urlSave", "withSubmit", "workOrderId"],
        data() {
            return {
                hasAccess: __ROLE.includes('update work-order-problem'),
                initalId : this.problems.length
            }
        },
        methods: {
            addRow() {
                this.initialId++;
                this.problems.push({id: this.initalId, problem: null, description: null});
            },
            removeRow(index) {
                this.problems.splice(index, 1);
            },
            storeProblems: function () {
                axios.post('work-order/problems', {
                    form       : this.problems,
                    workOrderId: this.workOrderId
                }).then((response) => {
                    if (response.data.success) {
                        swal({
                            type : "success",
                            text : response.data.message,
                            title: response.data.title
                        }).then(() => {
                            EventBus.$emit('DATATABLE:RELOAD');
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            print() {
                EventBus.$emit("PROBLEMS::PRINT", { problems: this.problems });
            }
        },
        watch: {
            problems() {

            }
        },
        created() {
            EventBus.$on("PROBLEMS:SUBMIT", this.storeProblems);
        }
    }
</script>