<template>
    <table class="table table-xs">
        <thead class="bg-brown-600">
        <tr>
            <th>#</th>
            <th>Jasa</th>
            <th>FRU</th>
            <th>Rate</th>
            <th class="text-center">Estimasi Biaya</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(service, index) in services">
            <td style="width: 3%;" class="p-1">
                <a href="javascript:" class="badge badge-icon rounded-circle bg-danger font-size-xs"
                   v-on:click.prevent="removeRow(index)" v-show="hasAccess"><i class="icon-cross2"></i></a>
            </td>
            <td style="width: 30%;" class="p-1">
                <select2
                        url="/api/services"
                        v-model="service.service_id"
                        name="service[]"
                        :data-index="index+1"
                        placeholder="Nama Service/Jasa"
                        :options="service.service"
                        class="form-control"
                        min="0"
                >
                </select2>
            </td>

            <td class="p-1" style="width:8%"><input number class="form-control text-right" name="fru[]" v-model="service.fru"
                                   placeholder="FRU"></td>
            <td class="p-1" style="width:15%"><input number class="form-control text-right" name="rate[]" v-money="moneyConfig" v-model.lazy="service.rate"
                                   placeholder="RATE"></td>
            <td style="width: 20%;" class="p-1">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            Rp.
                        </span>
                    </span>
                    <input type="text" class="form-control text-right font-weight-bold" v-money="moneyConfig"
                             :value="totalRate(service.fru, service.rate, index)" :key="index" placeholder="Estimasi...">
                </div>
            </td>
        </tr>
        <tr v-for="(service_manual, index) in service_manuals">
            <td style="width: 3%;" class="p-1">
                <a href="javascript:" class="badge badge-icon rounded-circle bg-danger font-size-xs"
                   v-on:click.prevent="removeRowManual(index)" v-show="hasAccess"><i class="icon-cross2"></i></a>
            </td>
            <td style="width: 30%;" class="p-1">
                <input type="text" class="form-control" placeholder="Nama Service/Jasa" name="service_manual[]"
                       v-model="service_manual.name">
            </td>
            <td class="p-1" style="width:8%"><input number class="form-control text-right" name="fru[]" v-model="service_manual.fru"
                                                    placeholder="FRU"></td>
            <td class="p-1 text-right" style="width:15%"><input number class="form-control text-right" name="rate[]" v-money="moneyConfig" v-model.lazy="service_manual.rate"
                                                                placeholder="RATE"></td>
            <td style="width: 25%;" class="p-1">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            Rp.
                        </span>
                    </span>
                    <input type="text" class="form-control text-right font-weight-bold" v-money="moneyConfig"
                           :value="totalRateManual(service_manual.fru, service_manual.rate, index)" :key="index" placeholder="Estimasi...">
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot class="border-blue-300">
        <tr class="bg-brown">
            <td colspan="3">
                TOTAL ESTIMASI JASA
            </td>
            <td class="p-1">
                <div class="row">
                    <div class="col-md-6">
                        <a href="javascript:" class="badge bg-orange" v-show="showPercentage"
                           v-on:click="showPercentage =!showPercentage; showFlat=true; discount_percentage=0">Diskon Flat</a>
                        <div class="input-group" v-show="!showPercentage">
                            <span class="input-group-prepend">
                            <span class="input-group-text">
                                Rp.
                            </span>
                        </span>
                            <input number class="form-control text-right mr-3" v-money="moneyConfig"
                                   v-model="discount_flat" placeholder="Diskon (Rp.)">
                        </div>
                    </div>


                    <div class="col-md-4">
                        <a href="javascript:" class="badge bg-orange" v-show="showFlat"
                           v-on:click="showFlat = !showFlat; showPercentage=true; discount_flat=0">Diskon Persen</a>
                        <div class="input-group" v-show="!showFlat">
                            <input number class="form-control text-right" v-model="discount_percentage"
                                   placeholder="Diskon (%)">
                            <span class="input-group-append">
                            <span class="input-group-text">
                                %
                            </span>
                        </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="p-1">
                <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                Rp.
                            </span>
                        </span>
                    <input type="text" v-money="moneyConfig" :value="totalServicePrice" readonly=readonly
                           class="form-control text-right p1 font-weight-bold" placeholder="Total Estimasi...">
                </div>
            </td>
        </tr>
        <tr v-show="hasAccess">
            <td colspan="5">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button type="button" v-on:click="addServiceRow"
                                class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i
                                class="icon-plus3"></i></b> Tambah Jasa/Service
                        </button>

                        <button type="button" v-on:click="addServiceRowManual"
                                class="btn btn-warning btn-labeled btn-labeled-left btn-sm"><b><i
                                class="icon-plus2"></i></b> Tambah Jasa/Service (Manual)
                        </button>
                    </div>

                    <button type="button" v-show="withSubmit" v-on:click="storeServices"
                            class="btn btn-info btn-labeled btn-labeled-left btn-sm"><b><i class="icon-floppy-disk"></i></b>
                        Simpan Jasa/Service
                    </button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</template>

<script>
    import axios from 'axios';
    import select2 from '../Select2Component';
    import {EventBus} from "../../eventbus";
    import {VMoney} from 'v-money';

    export default {
        components: {select2},
        directive : {VMoney},
        name      : "ServiceForm",
        props     : [
            "url", "services", "service_manuals", "totalService", "withSubmit", "workOrderId", "service_discounts"
        ],
        data() {
            return {
                hasAccess          : __ROLE.includes('update work-order-service'),
                service            : [
                    {id: '', text: ''}
                ],
                showPercentage     : true,
                showFlat           : true,
                discount_flat      : null,
                discount_percentage: null,
                initialId          : this.services.length,
                initialManual     : 50,
                totalServicePrice  : this.totalService,
                moneyConfig        : {
                    // The character used to show the decimal place.
                    decimal  : ',',
                    // The character used to separate numbers in groups of three.
                    thousands: '.',
                    // The currency name or symbol followed by a space.
                    prefix   : '',
                    // The suffix (If a suffix is used by the target currency.)
                    suffix   : '',
                    // Level of decimal precision. REQUIRED
                    precision: 0,
                    // If mask is false, outputs the number to the model. Otherwise outputs the masked string.
                    masked   : false
                }
            }
        },
        methods   : {
            addServiceRow() {
                this.initialId++;
                this.services.push({
                    id             : this.initialId,
                    service_id     : null,
                    service_text   : null,
                    estimated_price: null,
                    selected       : null,
                    fru            : null,
                    rate           : null
                });
            },
            removeRow(index) {
                this.services.splice(index, 1);
            },
            addServiceRowManual() {
                this.initialManual++;
                this.service_manuals.push({
                    id             : this.initialManual,
                    name           : null,
                    estimated_price: null,
                    selected       : null,
                    fru            : null,
                    rate           : null
                });
            },
            removeRowManual(index) {
                this.service_manuals.splice(index, 1);
            },
            storeServices() {
                axios.post('work-order/services', {
                    form       : this.services,
                    workOrderId: this.workOrderId
                })
                     .then((response) => {
                         swal(
                             response.data.title,
                             response.data.message,
                             'success'
                         ).then(() => {
                             EventBus.$emit("SERVICES::UPDATED");
                         });
                     })
                     .catch((error) => {
                         console.log(error);
                     });
            },
            updateSelectedText(data) {
                this.services[data.index - 1].service_text = data.value;
            },
            totalRate(fru, rate, index) {
                let pattern = /[^\d]/g;

                if (typeof rate === 'string' && fru > 0) {
                    let total = parseFloat(fru) * parseFloat(rate.replace(pattern, ''));
                    this.services[index].estimated_price = total;
                    return total;
                }
            },
            totalRateManual(fru, rate, index) {
                let pattern = /[^\d]/g;

                if (typeof rate === 'string' && fru > 0) {
                    let total = parseFloat(fru) * parseFloat(rate.replace(pattern, ''));
                    this.service_manuals[index].estimated_price = total;
                    return total;
                }
            },
            totalPrice() {
                let sum     = 0;
                let pattern = /[^\d]/g;
                let price   = 0;

                this.services.forEach((row) => {
                    price = parseFloat(row.estimated_price);
                    sum += price;
                });

                this.service_manuals.forEach((row) => {
                    price = parseFloat(row.estimated_price);
                    sum += price;
                });

                let discount_flat = 0;
                if (typeof this.discount_flat === 'string') {
                    discount_flat = parseFloat(this.discount_flat.replace(pattern, ''));
                }

                if (discount_flat > 0) {
                    sum = sum - discount_flat;
                }

                if (this.discount_percentage > 0 && this.discount_percentage <= 100) {
                    discount_flat = parseFloat(this.discount_percentage / 100) * sum;
                    sum           = sum - discount_flat;
                }

                this.totalServicePrice = sum;
                this.$emit('update:totalService', sum);
                EventBus.$emit('service-discount', {
                    'flat'      : discount_flat,
                    'percentage': this.discount_percentage,
                    'value'     : discount_flat
                });
            }
        },
        watch: {
            services: {
                deep: true,
                handler() {
                    this.totalPrice();
                }
            },
            service_manuals: {
                deep: true,
                handler() {
                    this.totalPrice();
                }
            }
        },
        created() {
            this.$on('selectEvent', this.updateSelectedText);
            EventBus.$on('SERVICES:SUBMIT', this.storeServices);
        }
    }
</script>