<template>
    <table class="table table-xs">
        <thead class="bg-violet-600">
        <tr>
            <th>#</th>
            <th>Parts & Bahan</th>
            <th colspan="2">Qty</th>
            <th class="text-center">Estimasi Biaya</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(partsRow, index) in spareparts">
            <td style="width: 3%;" class="p-1">
                <a href="javascript:" class="badge badge-icon rounded-circle bg-danger font-size-xs"
                   v-on:click.prevent="removeRow(index)" v-show="hasAccess"><i class="icon-cross2"></i></a>
            </td>
            <td style="width: 35%;" class="p-1">
                <input type="text" class="form-control" placeholder="Nama Sparepart/Bahan" v-model="partsRow.part_name" name="sparepart">
            </td>
            <td style="width: 10%;" class="p-1"><input type="number" min="0" name='quantity'
                                                       v-model="partsRow.quantities"
                                                       class="form-control text-right" placeholder="qty" oninput="validity.valid||(value='');"></td>
            <td class=" p-1">
                <select2
                        :url="urlQty"
                        min="0"
                        v-model="partsRow.quantity_id"
                        :options="partsRow.label"
                        name="qty_label"
                        placeholder="Quantity"
                        :data-index="index+1"
                        class="form-control">
                </select2>
            </td>
            <td class="p-1">
                <div class="input-group">
                    <span class="input-group-prepend"><span class="input-group-text">Rp.</span></span>
                    <input type="text" v-money="moneyConfig" v-model.lazy="partsRow.estimated_price"
                           class="form-control text-right" placeholder="Estimasi...">
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot class="border-blue-300">
        <tr class="bg-violet-600">
            <td colspan="2">
                TOTAL ESTIMASI Parts & Jasa
            </td>
            <td colspan="2" class="p-1">
                <div class="row">
                    <div class="col-md-7">
                        <a href="javascript:" class="badge bg-orange" v-show="showPercentage"
                           v-on:click="showPercentage =!showPercentage; showFlat=true; discount_percentage=0">Diskon
                                                                                                              Flat</a>
                        <div class="input-group" v-show="!showPercentage">
                            <span class="input-group-prepend">
                            <span class="input-group-text">
                                Rp.
                            </span>
                        </span>
                            <input number class="form-control text-right mr-3" v-money="moneyConfig"
                                   v-model="discount_flat" placeholder="Diskon (Rp.)">
                        </div>
                    </div>


                    <div class="col-md-5">
                        <a href="javascript:" class="badge bg-orange" v-show="showFlat"
                           v-on:click="showFlat = !showFlat; showPercentage=true; discount_flat=0">Diskon Persen</a>
                        <div class="input-group" v-show="!showFlat">
                            <input number min="0" oninput="validity.valid||(value='');" class="form-control text-right" v-model="discount_percentage"
                                   placeholder="Diskon (%)">
                            <span class="input-group-append">
                            <span class="input-group-text">
                                %
                            </span>
                        </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="p-1">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            Rp.
                        </span>
                    </span>
                    <input type="text" v-money="moneyConfig" :value="totalPartsCharge" class="form-control text-right"
                           placeholder="Total Estimasi..." readonly="readonly">
                </div>
            </td>
        </tr>
        <tr v-show="hasAccess">
            <td colspan="6">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button type="button" v-on:click="addPartsRow"
                                class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i
                                class="icon-plus3"></i></b> Tambah Bahan & Parts
                        </button>
                    </div>

                    <button type="button" v-show="withSubmit" v-on:click="storeParts"
                            class="btn btn-info btn-labeled btn-labeled-left btn-sm"><b><i class="icon-floppy-disk"></i></b>
                        Simpan data bahan & parts
                    </button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</template>

<script>
    import select2 from '../Select2Component';
    import {EventBus} from "../../eventbus";
    import axios from 'axios';
    import {VMoney} from 'v-money';
    import Typeahead from "../TypeaheadComponent";

    export default {
        components: {select2, Typeahead},
        directive : {VMoney},
        name      : "SparepartForm",
        props     : ["url", "spareparts", "partsPrice", "withSubmit", "workOrderId", "part_discounts"],
        data() {
            return {
                baseUrl: window.baseUrl,
                showPercentage     : true,
                showFlat           : true,
                hasAccess          : __ROLE.includes('update work-order-part'),
                urlQty             : window.location.origin + '/api/units',
                initialId          : this.spareparts.length,
                discount_flat      : null,
                discount_percentage: null,
                moneyConfig        : {
                    // The character used to show the decimal place.
                    decimal  : ',',
                    // The character used to separate numbers in groups of three.
                    thousands: '.',
                    // The currency name or symbol followed by a space.
                    prefix   : '',
                    // The suffix (If a suffix is used by the target currency.)
                    suffix   : '',
                    // Level of decimal precision. REQUIRED
                    precision: 0,
                    // If mask is false, outputs the number to the model. Otherwise outputs the masked string.
                    masked   : false
                }
            }
        },
        methods   : {
            addPartsRow() {
                this.initialId++;
                this.spareparts.push({
                    id             : this.initialId,
                    part_name      : null,
                    part_text      : '',
                    quantities     : 0,
                    qty_label      : null,
                    quantity_id    : null,
                    qty_text       : '',
                    estimated_price: 0
                });

            },
            removeRow(index) {
                this.spareparts.splice(index, 1);
            },
            removeSelectedPartsRow() {
                this.spareparts.reduce((list, row, index) => {
                    if (row.selected) list.push(index);
                    return list;
                }, []).reverse().forEach((index) => {
                    this.spareparts.splice(index, 1);
                });
            },
            storeParts() {
                axios.post('work-order/spareparts', {
                    workOrderId: this.workOrderId,
                    form       : this.spareparts
                })
                     .then((response) => {
                         if (response.data.success) {
                             swal({
                                 type : "success",
                                 text : response.data.message,
                                 title: response.data.title
                             }).then(() => {
                                 EventBus.$emit('DATATABLE:RELOAD');
                                 EventBus.$emit("SPAREPART:UPDATED");
                             });
                         }
                     })
                     .catch((error) => {
                         console.log(error)
                     });
            },
            updateSelectedText(data) {
                if (data.name === 'qty_label')
                    this.spareparts[data.index - 1].qty_text = data.value;
            }
        },
        computed  : {
            totalPartsCharge() {
                let sum     = 0;
                let pattern = /[^\d]/g;
                let price   = 0;
                this.spareparts.forEach((row) => {
                    if (typeof row.estimated_price === 'string') {
                        price = parseFloat(row.estimated_price.replace(pattern, ''));
                        sum += price;
                    }
                });

                let discount_flat = 0;
                if (typeof this.discount_flat === 'string') {
                    discount_flat = parseFloat(this.discount_flat.replace(pattern, ''));
                }

                if (discount_flat > 0) {
                    sum = sum - discount_flat;
                }

                if (this.discount_percentage > 0 && this.discount_percentage <= 100) {
                    discount_flat = parseFloat(this.discount_percentage / 100) * sum;
                    sum           = sum - discount_flat;
                }

                this.$emit('update:partsPrice', sum);
                EventBus.$emit('part-discount', {
                    'flat'      : discount_flat,
                    'percentage': this.discount_percentage,
                    'value'     : discount_flat
                });

                return sum;
            }
        },
        created() {
            this.$on('selectEvent', this.updateSelectedText);
            EventBus.$on("SPAREPARTS:SUBMIT", this.storeParts);
        }
    }
</script>