<template>
    <fieldset>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <table class="table table-bordered table-striped table-xxs my-2">
                        <thead>
                        <tr>
                            <th colspan="2">Detail Mobil</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-gear mr-2"></i> V.I.N/No. Casis:</td>
                            <td class="text-right text-uppercase">{{ vehicle.vin_number }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-truck mr-2"></i> No. Mesin:</td>
                            <td class="text-right text-uppercase">{{ vehicle.engine_number }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-list-numbered mr-2"></i> No. Polisi:</td>
                            <td class="text-right">{{ vehicle.plate_number }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-git-branch mr-2"></i> Merek:</td>
                            <td class="text-right">{{ vehicle.brand.text }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-list3 mr-2"></i> Tipe:</td>
                            <td class="text-right">{{ vehicle.brand_series }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-color-sampler mr-2"></i> Warna:</td>
                            <td class="text-right">{{ vehicle.colour }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-calendar3 mr-2"></i> Tahun:</td>
                            <td class="text-right">{{ vehicle.build_year }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-stack mr-2"></i> Jenis Mobil:</td>
                            <td class="text-right">{{ vehicle.car_type.text }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-transmission mr-2"></i> Transmisi:</td>
                            <td class="text-right">{{ vehicle.transmision.text }}</td>
                        </tr>
                        <tr>
                            <td><i class="icon-traffic-cone mr-2"></i> Bahan Bakar:</td>
                            <td class="text-right">{{ vehicle.fuel.text }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7">
                    <table class="table table-bordered table-striped table-xxs my-2">
                        <thead>
                        <tr>
                            <th colspan="2">Owner</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-user-check mr-2"></i> Nama:</td>
                            <td class="text-right text-uppercase">{{ owner.fullname }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-phone mr-2"></i> Telepon/Mobile:</td>
                            <td class="text-right text-uppercase">{{ owner.phone_number}}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-mail5 mr-2"></i> Email:</td>
                            <td class="text-right text-uppercase">{{ owner.email }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Alamat:</td>
                            <td class="text-right text-uppercase">{{ owner.address }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Propinsi:</td>
                            <td class="text-right text-uppercase">{{ owner.province.text }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-location3 mr-2"></i> Kabupaten:</td>
                            <td class="text-right text-uppercase">{{ owner.district.text }}</td>
                        </tr>
                        <tr>
                            <td style="width: 12rem;"><i class="icon-phone mr-2"></i> Kodepos:</td>
                            <td class="text-right text-uppercase">{{ owner.phone_number }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <legend class="font-weight-semibold text-uppercase font-size-sm bg-indigo-300 p-2">
            <i class="icon-truck mr-2"></i>
            Informasi Mobil
            <a href="#" class="float-right text-default" data-toggle="collapse" data-target="#driver">
                <i class="icon-circle-down2"></i>
            </a>
        </legend>

        <div class="collapse show p-3" id="driver">
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Nama Lengkap Driver:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <select2 :options="options.salutation"
                             data-vv-as="Salutasi"
                             v-validate="'required'"
                             name="drive_salutation_id"
                             placeholder="Salutasi"
                             class="form-control"
                             v-model="form.vehicle.salutation_id">
                    </select2>
                    <span v-show="errors.has('drive_salutation_id')" class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('drive_salutation_id') }}
                        </span>
                </div>
                <div class="col-md-5">
                    <label>&nbsp;</label>
                    <input type="text" name='driver_name' v-model="form.vehicle.driver_name" data-vv-as="Pengemudi" v-validate="'required'" placeholder="Driver/Pembawa Mobil" class="form-control">
                    <span v-show="errors.has('driver_name')"
                          class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('driver_name') }}
                    </span>
                </div>
                <div class="col-md-4">
                    <label>No. Telepon Driver:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <input type="text" name='driver_phone' v-model="form.vehicle.driver_phone" data-vv-as="Telepon Driver" v-validate="'required'" placeholder="Telepon Driver" class="form-control">
                    <span v-show="errors.has('driver_phone')"
                          class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('driver_phone') }}
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Kilometer Terakhir:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <input type="number" name="millage" class="form-control" placeholder="Km. Terakhir" v-model="form.vehicle.millage" data-vv-as="Kilometer Terakhir" v-validate="'required'">
                    <span v-show="errors.has('millage')"
                          class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('millage') }}
                    </span>
                </div>

            </div>
        </div>
    </fieldset>
</template>

<script>
    let initialState = JSON.parse(window.__INITIAL_STATE__) || {};

    import select2 from '../Select2Component';
    import { EventBus } from "../../eventbus";

    export default {
        name: "VehicleOwnerExisting",
        components: { select2 },
        props: [ "owner", "vehicle", "initForm" ],
        data() {
            return {
                options: initialState.options,
                form: this.initForm
            }
        },
        methods: {
            justValidateForm() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        EventBus.$emit('validate-success');
                        return;
                    }

                    swal({
                        type: 'error',
                        title: 'Simpan Data Kendaraan & Owner',
                        text: "Anda harus melengkapi data Kendaraan & Owner!",
                    });
                });
            },
        },
        created() {
            this.$on('selectEvent', this.updateSelectedText);
            EventBus.$on('submit-first-tab', this.justValidateForm);

            this.$root.$on("changed::tab", (payload) => {
                if (payload.currentTab === 3) {
                    if ((this.totalService <= 0) || (this.totalParts <= 0)) {
                        swal({
                            title: "Access Denied",
                            text: "Data Masalah, Jasa & Sparepart belum didatakan!",
                            type: "warning"
                        }).then(() => {
                            this.tabIndex = 1;
                        });
                    }
                }
            } );
        }
    }
</script>