<template>
    <div>
        <fieldset class="p-3">
            <legend class="font-weight-semibold text-uppercase font-size-sm bg-indigo-300 p-2">
                <i class="icon-truck mr-2"></i>
                Informasi Mobil
                <a href="#" class="float-right text-default" data-toggle="collapse" data-target="#informasi-mobil">
                    <i class="icon-circle-down2"></i>
                </a>
            </legend>

            <div class="collapse show" id="informasi-mobil">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>V.I.N: <span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <input type="text" class="form-control" name="vin_number" data-vv-as="Nomor Chassis"
                               v-validate="'required'"
                               v-model="form.vehicle.vin_number" placeholder="Masukkan V.I.N/No. Chassis" autocomplete="off">

                        <span v-show="errors.has('vin_number')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('vin_number') }}
                    </span>
                    </div>

                    <div class="col-md-4">
                        <label>No. Mesin:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <input type="text" class="form-control" name="engine_number" v-model="form.vehicle.engine_number"
                               data-vv-as="Nomor Chassis" v-validate="'required'" placeholder="Masukkan No. Mesin" autocomplete="off">

                        <span v-show="errors.has('engine_number')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('engine_number') }}
                    </span>
                    </div>

                    <div class="col-md-4">
                        <label>No. Polisi:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <input type="text" class="form-control" name="plate_number" v-model="form.vehicle.plate_number"
                               data-vv-as="Nomor Polisi"
                               v-validate="'required'" placeholder="Masukkan No. Plat Mobil" autocomplete="off">

                        <span v-show="errors.has('plate_number')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('plate_number') }}
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Merek Kendaraan:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <select2 url="/api/brands" data-vv-as="Merek Kendaraan" v-validate="'required'"
                                 name="brand_id" placeholder="Pilih Brand Kendaraan" class="form-control"
                                 v-model="form.vehicle.brand_id" min="0" data-index="1">
                        </select2>

                        <span v-show="errors.has('brand_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('brand_id') }}
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label>Tipe:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <typeahead
                            placeholder="ex: Civic/Alphard"
                            :url="`${baseUrl}/vehicles/autocomplete?field=brand_series`"
                            v-model="form.vehicle.brand_series"
                            data-vv-as="Tipe Brand"
                            v-validate="'required'"
                            name="brand_series"
                        />

                        <span v-show="errors.has('brand_series')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('brand_series') }}
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Jenis Mobil:</label>
                        <select2
                                :options="options.car_type"
                                name="car_type_id"
                                placeholder="Tipe Mobil"
                                class="form-control"
                                v-model="form.vehicle.car_type_id">
                        </select2>
                    </div>
                    <div class="col-md-3">
                        <label>Bahan Bakar Mobil:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <select2
                                :options="options.fuel"
                                data-vv-as="Bahan Bakar Mobil"
                                v-validate="'required'"
                                name="fuel_id"
                                placeholder="Bahan Bakar Mobil"
                                class="form-control"
                                v-model="form.vehicle.fuel_id">
                        </select2>
                        <span v-show="errors.has('fuel_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('fuel_id') }}
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label>Warna:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <typeahead
                                placeholder="Warna Mobil"
                                :url="`${baseUrl}/vehicles/autocomplete?field=colour`"
                                v-model="form.vehicle.colour"
                                data-vv-as="Warna"
                                v-validate="'required'"
                                name="colour"
                        />

                        <span v-show="errors.has('colour')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('colour') }}
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Transmisi:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <select2
                                :options="options.transmission"
                                data-vv-as="Transmisi Mobil"
                                v-validate="'required'"
                                name="transmision_id"
                                placeholder="Transmisi"
                                class="form-control"
                                v-model="form.vehicle.transmision_id">
                        </select2>
                        <span v-show="errors.has('transmision_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('transmision_id') }}
                    </span>
                    </div>
                    <div class="col-md-3">
                        <label>Tahun:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <input type="text" class="form-control" name="build_year" v-model="form.vehicle.build_year"
                               data-vv-as="Tahun Pembuatan" v-validate="'required'" placeholder="Tahun" autocomplete="off">
                        <span v-show="errors.has('build_year')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('build_year') }}
                    </span>
                    </div>
                    <div class="col-md-3">
                        <label>KM:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <input type="text" class="form-control" name="millage" v-model="form.vehicle.millage"
                               data-vv-as="Km. Terakhir" v-validate="'required'" placeholder="Km" autocomplete="off">
                        <span v-show="errors.has('millage')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('millage') }}
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Nama Lengkap Driver:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <select2 :options="options.salutation"
                                 data-vv-as="Salutasi"
                                 v-validate="'required'"
                                 name="drive_salutation_id"
                                 placeholder="Salutasi"
                                 class="form-control"
                                 v-model="form.vehicle.salutation_id">
                        </select2>
                        <span v-show="errors.has('drive_salutation_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('drive_salutation_id') }}
                        </span>
                    </div>
                    <div class="col-md-5">
                        <label>&nbsp;</label>
                        <input type="text" name='driver' v-model="form.vehicle.driver_name" data-vv-as="Pengemudi"
                               v-validate="'required'" placeholder="Driver/Pembawa Mobil" class="form-control" autocomplete="off">
                        <span v-show="errors.has('driver')"
                              class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('driver') }}
                    </span>
                    </div>
                    <div class="col-md-4">
                        <label>No. Telepon Driver:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <input type="text" name='driver' v-model="form.vehicle.driver_phone" data-vv-as="Telepon Driver"
                               v-validate="'required'" placeholder="Telepon Driver" class="form-control" autocomplete="off">
                        <span v-show="errors.has('driver_phone')"
                              class="form-text text-danger"><i class="icon-cancel-circle2 font-size-sm"></i> {{ errors.first('driver_phone') }}
                    </span>
                    </div>
                </div>
            </div>

            <legend class="font-weight-semibold text-uppercase font-size-sm bg-indigo-300 p-2">
                <i class="icon-user-plus mr-2"></i>
                Informasi Owner
                <a href="#" class="float-right text-default" data-toggle="collapse" data-target="#owner">
                    <i class="icon-circle-down2"></i>
                </a>
            </legend>

            <div class="collapse show" id="owner">

                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Nama Lengkap:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <select2 :options="options.salutation"
                                 data-vv-as="Salutasi"
                                 v-validate="'required'"
                                 name="salutation_id"
                                 placeholder="Salutasi"
                                 class="form-control"
                                 v-model="form.owner.salutation_id">
                        </select2>
                        <span v-show="errors.has('salutation_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                            {{ errors.first('salutation_id') }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        <label>&nbsp;</label>
                        <input type="text" name="fullname" v-model="form.owner.fullname" data-vv-as="Nama Lengkap"
                               v-validate="'required'" placeholder="Nama Lengkap" class="form-control" autocomplete="off">
                        <span v-show="errors.has('fullname')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('fullname') }}
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Group Customer</label>
                        <typeahead
                                placeholder="Owner Group"
                                :url="`${baseUrl}/owners/autocomplete?field=owner_group`"
                                v-model="form.owner.owner_group"
                                name="owner_group"
                        />
                    </div>
                    <div class="col-md-8">
                        <label>Nama Asuransi (Jika Pakai)</label>
                        <typeahead
                                placeholder="Nama Asuransi"
                                :url="`${baseUrl}/owners/autocomplete?field=insurance_name`"
                                v-model="form.owner.insurance_name"
                                name="insurance_name"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label>Alamat:<span class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                    <textarea class="form-control" name="address" v-model="form.owner.address" data-vv-as="Alamat"
                              v-validate="'required'" placeholder="Alamat Owner" rows="3"></textarea>
                    <span v-show="errors.has('address')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                    {{ errors.first('address') }}
                </span>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Propinsi:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <select2 url="/api/province" data-vv-as="Propinsi" v-validate="'required'"
                                 name="province_id" placeholder="Pilih Propinsi" class="form-control"
                                 v-model="form.owner.province_id" :value="form.owner.province_id" min="0"></select2>
                        <span v-show="errors.has('province_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('province_id') }}
                    </span>
                    </div>
                    <div class="col-md-6">
                        <label>Kabupaten:<span
                                class="text-warning-300 font-italic font-size-xs">* Wajib isi</span></label>
                        <select2 url="/api/district" data-vv-as="Kabupaten" include="province_id"
                                 v-validate="'required'"
                                 v-model="form.owner.district_id"
                                 name="district_id" placeholder="Pilih Kabupaten" class="form-control"
                                 min="0"></select2>
                        <span v-show="errors.has('district_id')" class="form-text text-danger"><i
                                class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('district_id') }}
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Telepon/Mobile Phone:</label>
                        <input type="text" placeholder="Masukkan No. Telepon/Mobile Phone" name="phone_number"
                               v-model="form.owner.phone_number" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-md-6">
                        <label>Email:</label>
                        <input type="text" placeholder="Masukkan Email" name="email" v-model="form.owner.email"
                               class="form-control" autocomplete="off">
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="card-footer" v-show="withSubmit">
            <button type="button" class="btn btn-success" v-on:click="validateBeforeSubmit">SIMPAN DATA OWNER DAN
                KENDARAAN
            </button>
        </div>
    </div>
</template>

<script>

    import Typeahead from "../TypeaheadComponent";
    let initialState = JSON.parse(window.__INITIAL_STATE__) || {};
    import select2 from '../Select2Component';
    import axios from 'axios';
    import {EventBus} from "../../eventbus";

    export default {
        components: {Typeahead, select2},
        name      : "VehicleOwnerForm",
        props     : ["withSubmit", "urlStore", "urlRedirect", "initForm"],
        data() {
            return {
                options: initialState.options,
                form   : this.initForm,
                baseUrl: window.baseUrl
            }
        },
        methods   : {
            justValidateForm() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        EventBus.$emit('validate-success');

                        return;
                    }

                    swal({
                        type : 'error',
                        title: 'Simpan Data Kendaraan & Owner',
                        text : "Anda harus melengkapi data Kendaraan & Owner!",
                    });
                });
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post(this.urlStore, this.form).then((response) => {
                            if (response.data.status === 'success') {
                                swal({
                                    type : 'success',
                                    title: 'Simpan Data Kendaraan & Owner',
                                    text : response.data.message,
                                }).then(() => {
                                    EventBus.$emit('validate-success');
                                    window.location = this.urlRedirect;
                                });
                            }
                        }).catch((error) => {

                        });

                        return;
                    }

                    swal({
                        type : 'error',
                        title: 'Simpan Data Kendaraan & Owner',
                        text : "Anda harus melengkapi data Kendaraan & Owner!",
                    });
                });
            },
            updateSelectedText(data) {
                this.form.vehicle_text[data.name] = data.value;
                this.form.owner_text[data.name]   = data.value;
            }
        },
        created() {
            this.$on('selectEvent', this.updateSelectedText);
            EventBus.$on('submit-first-tab', this.justValidateForm)
        }
    }
</script>