<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h4 class="card-title">Work Order #{{ dataWorkOrder.code }} Kendaraan: {{ dataWorkOrder.plate_number }}<span class="font-weight-bold"></span></h4>
                </div>

                <div class="card-body">
                    <work-order-detail :work-order="dataWorkOrder"></work-order-detail>

                    <work-order-tabs-detail :work-order="dataWorkOrder"></work-order-tabs-detail>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import WorkOrderDetail from "../work-order/detail/WorkOrderDetail";
    import ProblemDetail from "../work-order/detail/ProblemDetail";
    import WorkOrderTabsDetail from "../work-order/partials/WorkOrderTabsDetail";
    export default {
        name: "WorkOrderDetailPage",
        components: {WorkOrderTabsDetail, ProblemDetail, WorkOrderDetail },
        props: {
            dataWorkOrder: { type: Object }
        }
    }
</script>

<style scoped>
    .table-xxs td, .table-xxs th {
        padding: .3rem 1.25rem;
    }
</style>