<template>
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Revisi Work Order</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-4">
                        <img src="http://garage-app.test/assets/global/images/logo_dark@1x.png" class="mb-3 mt-2" alt=""
                             style="width: 250px;">
                        <ul class="list list-unstyled mb-0">
                            <li><span
                                    class="font-weight-bold">Jln. Ciputat Raya No. 25 Tanah Kusir Kebayoran Lama</span>
                            </li>
                            <li><span class="font-weight-bold">Jakarta, 12241</span></li>
                            <li><span class="font-weight-bold">72787434 - 36</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="mb-4">
                        <div class="text-sm-right">
                            <h4 class="text-primary mb-2 mt-md-2">Work Order {{ workOrder.code }}</h4>
                            <ul class="list list-unstyled mb-0">
                                <li>Tanggal: <span class="font-weight-semibold">{{ workOrder.arrived_date }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-md-flex flex-md-wrap">
                <div class="mb-4 mb-md-2">
                    <span class="text-muted">Pemilik:</span>
                    <ul class="list list-unstyled mb-0">
                        <li><h5 class="my-2">{{ owner.fullname }}</h5></li>
                        <li class="font-weight-semibold">{{ owner.address }}</li>
                        <li class="font-weight-semibold">{{ owner.province.name }}</li>
                        <li class="font-weight-semibold">{{ owner.district.name }}</li>
                        <li class="font-weight-semibold">{{ owner.phone_number }}</li>
                        <li><a href="javascript:">{{ owner.email }}</a></li>
                    </ul>
                </div>

                <div class="mb-2 ml-auto">
                    <span class="text-muted">Kendaraan :</span>
                    <div class="d-flex flex-wrap wmin-md-400">
                        <ul class="list list-unstyled mb-0">
                            <li><h4 class="my-2">No. Polisi:</h4></li>
                            <li>No. Mesin:</li>
                            <li>VIN/No. Chassis:</li>
                            <li>Brand & Tipe:</li>
                            <li><h6 class="my-2">Tahun: </h6></li>
                            <li><h5 class="my-2">Kilometer:</h5></li>
                            <li>Warna:</li>
                        </ul>

                        <ul class="list list-unstyled text-right mb-0 ml-auto">
                            <li><h5 class="font-weight-semibold my-2">{{ vehicle.plate_number }}</h5></li>
                            <li><span class="font-weight-semibold">{{ vehicle.engine_number }}</span></li>
                            <li>{{ vehicle.vin_number }}</li>
                            <li>{{ vehicle.brand.name }} / {{ vehicle.brand_series }}</li>
                            <li><h6 class="font-weight-semibold my-2">{{ vehicle.build_year }}</h6></li>
                            <li><h5 class="font-weight-semibold my-2">{{ vehicle.millage }} KM</h5></li>
                            <li>{{ vehicle.colour }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mb-3 bg-orange-400">
            <table class="table table-xs table-striped">
                <thead class="bg-orange-600">
                <tr>
                    <th>#</th>
                    <th>Permasalahan</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(problem, index) in problems">
                    <td style="width: 3%">
                        {{ index+1 }}
                    </td>
                    <td>
                        <h6 class="mb-0">{{ problem.problem }}</h6>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3">
            <table class="table table-xs bg-teal-400">
                <thead class="bg-teal-600">
                <tr>
                    <th>#</th>
                    <th>Jasa</th>
                    <th class="text-right">Estimasi Biaya (Rp.)</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(service, index) in services">
                    <td style="width: 3%">
                        {{ index+1 }}
                    </td>
                    <td>
                        <h6 class="mb-0">{{ service.service_text }}</h6>
                        <span class="text-danger" v-show="service.notes">Note: {{ service.notes }}</span>
                    </td>
                    <td class="text-right"><span class="font-weight-semibold">{{ service.estimated_price }}</span></td>
                    <th style="width: 2%">&nbsp;</th>
                </tr>
                <tr v-for="(service_manual, index) in service_manuals">
                    <td style="width: 3%">
                        {{ service_manual.id }}
                    </td>
                    <td>
                        <h6 class="mb-0">{{ service_manual.name }}</h6>
                        <span class="text-danger" v-show="service_manuals.notes">Note: {{ service_manual.notes }}</span>
                    </td>
                    <td class="text-right"><span
                            class="font-weight-semibold">{{ service_manual.estimated_price }}</span></td>
                    <th style="width: 2%">&nbsp;</th>
                </tr>
                <tr>
                    <td style="width: 3%;">&nbsp;</td>
                    <td class="text-right">
                        <h6 class="mb-0">Potongan (Rp)</h6>
                    </td>
                    <td class="text-right"><span class="font-weight-semibold">{{ serviceDiscount.value.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.") }}</span>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 3%;">&nbsp;</td>
                    <td class="text-right">
                        <h6 class="mb-0">Total Estimasi (Rp)</h6>
                    </td>
                    <td class="text-right"><span class="font-weight-bold">{{ totalServicePrice.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.") }}</span>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-xs table-striped bg-violet-800">
                <thead class="bg-violet-400">
                <tr>
                    <th>#</th>
                    <th>Parts & Bahan</th>
                    <th>Quantity</th>
                    <th>Estimasi Biaya</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(part, index) in parts">
                    <td style="width: 3%">
                        {{ index + 1 }}
                    </td>
                    <td style="width: 70%">
                        <h6 class="mb-0">{{ part.part_name }}</h6>
                    </td>
                    <td class="text-center" style="width: 20%">{{ part.quantities}} {{ part.qty_text }}</td>
                    <td class="text-right" style="width: 17%"><span class="font-weight-semibold">{{ part.estimated_price }}</span>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 3%;">&nbsp;</td>
                    <td class="text-right" width="70%">
                        <h6 class="mb-0">Potongan (Rp)</h6>
                    </td>
                    <td>&nbsp;</td>
                    <td class="text-right"><span class="font-weight-semibold">{{ partDiscount.value.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.") }}</span>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 3%;">&nbsp;</td>
                    <td class="text-right" width="70%">
                        <h6 class="mb-0">Total Estimasi (Rp)</h6>
                    </td>
                    <td>&nbsp;</td>
                    <td class="text-right"><span class="font-weight-bold">{{ totalPartPrice.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.") }}</span>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card-body">
            <div class="d-md-flex flex-md-wrap">
                <div class="pt-2 mb-3">
                    <h6 class="mb-3">Service Advisor</h6>
                    <div class="mb-3">
                        <img src="" width="150" alt="">
                    </div>

                    <ul class="list-unstyled text-muted">
                        <li><h4>{{ serviceAdvisor }}</h4></li>
                    </ul>
                </div>

                <div class="pt-2 mb-3 wmin-md-400 ml-auto">
                    <h6 class="mb-3">Total Jasa + Parts & Bahan </h6>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Subtotal:</th>
                                <td class="text-right">Rp. {{ (totalServicePrice +
                                                       totalPartPrice).toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g,
                                                       "$1.") }}
                                </td>
                            </tr>
                            <tr>
                                <th>Materai: <span class="font-weight-normal">(Rp. {{ seal(totalServicePrice, totalPartPrice) }} x 1)</span></th>
                                <td class="text-right">{{ seal(totalServicePrice, totalPartPrice) }}</td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td class="text-right text-primary"><h5 class="font-weight-semibold">Rp. {{
                                                                                                     (totalServicePrice
                                                                                                     + totalPartPrice +
                                                                                                     sealValue).toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g,
                                                                                                     "$1.") }}</h5></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right mt-3">
                        <button type="button" v-on:click="print" class="btn btn-primary btn-labeled btn-labeled-left">
                            <b><i class="icon-printer"></i></b> CETAK REVISI ESTIMASI PERBAIKAN
                        </button>
                        <button type="button" v-on:click="revisi" class="btn bg-violet btn-labeled btn-labeled-left">
                            <b><i class="icon-undo2"></i></b> REVISI
                        </button>
                        <button type="button" v-on:click="approve" class="btn btn-success btn-labeled btn-labeled-left"
                                v-show="printSPK">
                            <b><i class="icon-floppy-disk"></i></b> UPDATE WORK ORDER & CETAK SPK REVISI
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <b-modal ref="modalApproval" title="Persetujuan Pembuatan Work Order" hide-footer header-class="bg-violet-300">
            <form v-on:submit.prevent="store">
                <div class="alert alert-info">
                    Menyatakan setuju untuk membuat Work Order REVISI untuk kendaraan dengan
                    Nomor Polisi <strong>{{ vehicle.plate_number }}</strong>.
                </div>
                <div class="form-group">
                    <label>Disetujui Oleh:</label>
                    <input type="text" class="form-control" name="approval" data-vv-as="Nama Kuasa Kendaraan"
                           v-validate="'required'"
                           :value="workOrder.driver" placeholder="Nama">

                    <span v-show="errors.has('approval')" class="form-text text-danger"><i
                            class="icon-cancel-circle2 font-size-sm"></i>
                        {{ errors.first('approval') }}
                    </span>
                </div>

                <div slot="modal-footer" class="text-right p-t-5">
                    <button type="submit" class="btn btn-primary">
                        <span class="text-uppercase">SETUJU & BUAT WORK ORDER</span> <i
                            class="icon-floppy-disk ml-2"></i>
                    </button>
                </div>
            </form>
        </b-modal>

    </div>
</template>

<script>
    import axios from 'axios';
    import {EventBus} from "../../eventbus";

    const user = JSON.parse(window.__CURRENT_USER__) || {};

    export default {
        name   : "WorkOrderSummaryRevision",
        props  : ["urlPrint", "urlStore", "workOrder", "owner", "vehicle", "problems", "services", "service_manuals", "parts", "totalServicePrice", "totalPartPrice", "urlRedirect"],
        data() {
            return {
                serviceDiscount: {},
                partDiscount   : {},
                printSPK       : false,
                printEstimasi  : false,
                approvalName   : this.vehicle.driver_name,
                serviceAdvisor : user.name,
                sealValue      : 6000
            }
        },
        methods: {
            seal(totalServicePrice, totalPartPrice) {
                let total = totalServicePrice + totalPartPrice;
                let sealValue = 0;

                if (total < 1000000) {
                    sealValue = 3000;
                } else {
                    sealValue = 6000;
                }

                this.sealValue = sealValue;

                return sealValue.toFixed(0).replace(/(\d)(?=(\d{3})+(?:,\d+)?$)/g, "$1.");
            },
            approve() {
                this.$refs.modalApproval.show();
            },
            store() {
                if (this.vehicle.plate_number === null) {
                    swal({
                        type : "error",
                        text : "Lengkapi Data",
                        title: "Data Work Order"
                    });

                    return;
                }

                axios.post(`${window.baseUrl}/work-order/revision/${this.workOrder.id}`, {
                    owner          : this.owner,
                    vehicle        : this.vehicle,
                    problems       : this.problems,
                    services       : this.services,
                    service_manuals: this.service_manuals,
                    parts          : this.parts,
                    serviceDiscount: this.serviceDiscount,
                    partDiscount   : this.partDiscount
                })
                     .then((response) => {
                         if (response.data.status === 'success') {
                             window.open(response.data.data.url, '_blank');

                             swal({
                                 type : 'success',
                                 title: 'Revisi WO',
                                 text : response.data.message,
                             }).then(() => {
                                 window.location = `${window.baseUrl}/work-order`;
                             });
                         }
                     })
            },
            print() {
                this.vehicle['driver']       = this.workOrder.driver;
                this.vehicle['driver_phone'] = this.workOrder.driver_phone;

                axios.post(`${window.baseUrl}/work-order/revision/print`, {
                    workOrderCode  : this.workOrder.code,
                    owner          : this.owner,
                    vehicle        : this.vehicle,
                    problems       : this.problems,
                    services       : this.services,
                    service_manuals: this.service_manuals,
                    parts          : this.parts,
                    serviceDiscount: this.serviceDiscount,
                    partDiscount   : this.partDiscount
                })
                     .then((response) => {
                         if (response.data.status === 'success') {
                             this.printSPK = true;
                             window.open(response.data.url, '_blank');
                         }
                     })
            },
            revisi() {
                EventBus.$emit('revision');
            }
        },
        created() {
            EventBus.$on('service-discount', (payload) => {
                this.serviceDiscount = payload
            });
            EventBus.$on('part-discount', (payload) => {
                this.partDiscount = payload
            });
        }
    }
</script>