<template>
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Revisi Work Order</h6>
        </div>

        <div class="card-body p-0">
            <b-tabs nav-class="nav nav-tabs-highlight nav-justified" v-model="tabIndex">
                <b-tab active>
                    <div slot="title">
                        <i class="icon-database-diff d-block mb-1 mt-1"></i>
                        Keluhan & Masalah
                    </div>

                    <fieldset class="p-3">
                        <div class="row">
                            <div class="col-md-12">
                                <problem-form :problems="problems"></problem-form>
                            </div>
                        </div>
                    </fieldset>
                </b-tab>
                <b-tab>
                    <div slot="title">
                        <i class="icon-server d-block mb-1 mt-1"></i>
                        Service Jasa & Spare Part
                    </div>

                    <fieldset class="p-3">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <service-form :services="services" :service_manuals="service_manuals" :service_discounts="service_discounts"
                                              :totalService.sync="totalService"></service-form>
                            </div>

                            <div class="col-md-12">
                                <sparepart-form :spareparts="spareparts" :part_discounts="part_discounts"
                                                :parts-price.sync="totalParts"></sparepart-form>
                            </div>
                        </div>
                    </fieldset>
                </b-tab>
                <b-tab>
                    <div slot="title">
                        <i class="icon-checkmark-circle d-block mb-1 mt-1"></i>
                        Persetujuan Revisi WORK ORDER
                    </div>
                    <work-order-summary-revision
                            :workOrder="workOrder"
                            :owner="owner"
                            :vehicle="vehicle"
                            :services="services"
                            :service_manuals="service_manuals"
                            :parts="spareparts"
                            :problems="problems"
                            :total-service-price="totalService"
                            :total-part-price="totalParts"
                            :url-store="url"
                            :url-redirect="urlRedirect"
                            :url-print="urlPrint"
                    ></work-order-summary-revision>
                </b-tab>
            </b-tabs>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" v-on:click="previousTab" class="btn bg-orange ml-3" v-show="tabIndex > 0"><i
                        class="icon-arrow-left5 ml-2"></i> Kembali
                </button>
                <button type="button" v-on:click="nextTab" class="btn bg-blue ml-3" v-show="tabIndex < 3">
                    Selanjutnya <i class="icon-arrow-right5 ml-2"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import WorkOrderSummaryRevision from "../partials/WorkOrderSummaryRevision";

    import {Tabs} from 'bootstrap-vue/es/components';
    import {EventBus} from "../../eventbus";
    import ProblemForm from "../partials/ProblemForm";
    import ServiceForm from "../partials/ServiceForm";
    import SparepartForm from "../partials/SparepartForm";
    import WorkOrderSummary from "../partials/WorkOrderSummary";

    let initialData = JSON.parse(window.__INITIAL_WORKORDER__) || {};

    export default {
        components: {
            WorkOrderSummaryRevision,
            WorkOrderSummary, SparepartForm, ServiceForm, ProblemForm, Tabs
        },
        name      : "WorkOrderRevision",
        data() {
            return {
                tabIndex         : 0,
                tabDisable       : true,
                workOrder        : initialData.workOrder.data,
                owner            : initialData.workOrder.data.owner,
                vehicle          : initialData.workOrder.data.vehicle,
                problems         : initialData.workOrder.data.problems,
                services         : initialData.workOrder.data.services,
                service_manuals  : initialData.workOrder.data.service_manuals,
                spareparts       : initialData.workOrder.data.parts,
                totalService     : initialData.workOrder.data.service_price,
                totalParts       : initialData.workOrder.data.part_price,
                service_discounts: {
                    flat      : initialData.workOrder.data.service_discount_flat,
                    percentage: initialData.workOrder.data.service_discount_percentage,
                },
                part_discounts   : {
                    flat      : initialData.workOrder.data.part_discount_flat,
                    percentage: initialData.workOrder.data.part_discount_percentage,
                }
            }
        },
        props     : ['url', 'urlRedirect', 'urlPrint'],
        methods   : {
            nextTab() {
                if (this.tabIndex === 0) {
                    EventBus.$emit('submit-first-tab');
                } else {
                    this.tabIndex++;
                }
            },
            previousTab() {
                this.tabIndex--;
            }
        },
        created() {
            EventBus.$on('validate-success', () => {
                this.tabDisable = false;
                swal(
                    'Data Driver',
                    'Data Driver telah lengkap.',
                    'success'
                ).then(() => {
                    this.tabIndex++
                });
            });

            this.$root.$on("changed::tab", (payload) => {
                if (payload.currentTab === 3) {
                    if ((this.totalService <= 0) || (this.totalParts <= 0)) {
                        swal({
                            title: "Access Denied",
                            text : "Data Masalah, Jasa & Sparepart belum didatakan!",
                            type : "warning"
                        }).then(() => {
                            this.tabIndex = 1;
                        });
                    }
                }
            });
        }
    }
</script>