<template>
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Buat Work Order Baru (Pelanggan Lama)</h6>
        </div>

        <div class="card-body p-0">
            <b-tabs nav-class="nav nav-tabs-highlight nav-justified" v-model="tabIndex">
                <b-tab active>
                    <div slot="title">
                        <i class="icon-menu7 d-block mb-1 mt-1"></i>
                        Data Kendaraan & Owner
                    </div>

                    <vehicle-owner-existing :owner="owner" :vehicle="vehicle"
                                            :init-form="form"></vehicle-owner-existing>
                </b-tab>
                <b-tab>
                    <div slot="title">
                        <i class="icon-database-diff d-block mb-1 mt-1"></i>
                        Keluhan & Masalah
                    </div>

                    <fieldset class="p-3">
                        <div class="row">
                            <div class="col-md-12">
                                <problem-form :problems="problems"></problem-form>
                            </div>
                        </div>
                    </fieldset>
                </b-tab>
                <b-tab>
                    <div slot="title">
                        <i class="icon-server d-block mb-1 mt-1"></i>
                        Service Jasa & Spare Part
                    </div>

                    <fieldset class="p-3">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <service-form :services="services" :service_manuals="services_manuals"
                                              :totalService.sync="totalService"></service-form>
                            </div>

                            <div class="col-md-12">
                                <sparepart-form :spareparts="spareparts"
                                                :parts-price.sync="totalParts"></sparepart-form>
                            </div>
                        </div>
                    </fieldset>
                </b-tab>
                <b-tab>
                    <div slot="title">
                        <i class="icon-checkmark-circle d-block mb-1 mt-1"></i>
                        Persetujuan WO
                    </div>
                    <work-order-summary
                            :owner="owner"
                            :owner_text="form.owner_text"
                            :vehicle="vehicle"
                            :vehicle_text="form.vehicle_text"
                            :services="services"
                            :service_manuals="services_manuals"
                            :parts="spareparts"
                            :problems="problems"
                            :total-service-price="totalService"
                            :total-part-price="totalParts"
                            :url-store="url"
                            :url-redirect="urlRedirect"
                            :url-print="urlPrint"
                    ></work-order-summary>
                </b-tab>
            </b-tabs>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" v-on:click="previousTab" class="btn bg-orange ml-3" v-show="tabIndex > 0"><i
                        class="icon-arrow-left5 ml-2"></i> Kembali
                </button>
                <button type="button" v-on:click="nextTab" class="btn bg-blue ml-3" v-show="tabIndex < 3">Selanjutnya <i
                        class="icon-arrow-right5 ml-2"></i></button>
            </div>
        </div>
    </div>
</template>

<script>

    let initialData = JSON.parse(window.__INITIAL_STATE__) || {};

    import {WorkOrderStore} from "./wo-store";

    import {Tabs} from 'bootstrap-vue/es/components';
    import {EventBus} from "../../eventbus";
    import ProblemForm from "../partials/ProblemForm";
    import ServiceForm from "../partials/ServiceForm";
    import SparepartForm from "../partials/SparepartForm";
    import VehicleOwnerForm from "../partials/VehicleOwnerForm";
    import WorkOrderSummary from "../partials/WorkOrderSummary";
    import VehicleOwnerExisting from "../partials/VehicleOwnerExisting";

    export default {
        components: {
            VehicleOwnerExisting,
            WorkOrderSummary, VehicleOwnerForm, SparepartForm, ServiceForm, ProblemForm, Tabs
        },
        name      : "WorkOrderAddForm",
        data() {
            return {
                tabIndex        : 0,
                tabDisable      : true,
                owner           : initialData.data.owner,
                vehicle         : initialData.data.vehicle,
                form            : initialData.data,
                problems        : WorkOrderStore.state.tab2.problems,
                services        : WorkOrderStore.state.tab3.services,
                services_manuals: WorkOrderStore.state.tab3.service_manuals,
                spareparts      : WorkOrderStore.state.tab3.parts,
                totalService    : WorkOrderStore.state.tab3.servicesTotalPrice,
                totalParts      : WorkOrderStore.state.tab3.partsTotalPrice
            }
        },
        props     : ['url', 'urlRedirect', 'urlPrint'],
        methods   : {
            nextTab() {
                if (this.tabIndex === 0) {
                    EventBus.$emit('submit-first-tab');
                } else {
                    this.tabIndex++;
                }
            },
            previousTab() {
                this.tabIndex--;
            }
        },
        created() {
            EventBus.$on('validate-success', () => {
                this.tabDisable = false;
                swal(
                    'Data Driver',
                    'Data Driver telah lengkap.',
                    'success'
                ).then(() => {
                    this.tabIndex++
                });
            });

            EventBus.$on('revision', () => {
                this.tabIndex = 2;
            });

            this.$root.$on("changed::tab", (payload) => {
                if (payload.currentTab === 3) {
                    if ((this.totalService <= 0)) {
                        swal({
                            title: "Access Denied",
                            text : "Data Masalah, Jasa & Sparepart belum didatakan!",
                            type : "warning"
                        }).then(() => {
                            this.tabIndex = 1;
                        });
                    }
                }
            });
        }
    }
</script>