<template>
    <div>
        <table id="work-order-table" class="table table-orders-history text-nowrap">
            <thead>
            <tr>
                <th>Status</th>
                <th>Work Order</th>
                <th>Kendaraan</th>
                <th>Service</th>
                <th>CR Dari</th>
                <th>Estimasi Selesai</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
        <modal-parts></modal-parts>
        <modal-problems></modal-problems>
        <modal-mechanics></modal-mechanics>
        <modal-status></modal-status>
        <modal-time-estimated></modal-time-estimated>
        <modal-detail></modal-detail>
        <detail-vehicle-owner></detail-vehicle-owner>
        <modal-services></modal-services>
    </div>
</template>

<script>
    import { EventBus } from "../../eventbus";
    import ModalServices from "./partials/ModalServices";
    import ModalParts from "./partials/ModalParts";
    import ModalProblems from "./partials/ModalProblems";
    import ModalMechanics from "./partials/ModalMechanics";
    import ModalStatus from "./partials/ModalStatus";
    import axios from 'axios';
    import ModalTimeEstimated from "./partials/ModalTimeEstimated";
    import ModalDetail from "./partials/ModalDetail";
    import DetailVehicleOwner from "../vehicle/DetailVehicleOwner";

    export default {
        name: "WorkOrderGrid",
        components: {
            DetailVehicleOwner,
            ModalDetail,
            ModalTimeEstimated, ModalServices, ModalParts, ModalProblems, ModalStatus, ModalMechanics },
        props: [
            "ajax"
        ],
        data() {
            return {
                table: null
            }
        },
        mounted() {
            const showModal = function() {
                $('.show-modal').on('click', function(e) {
                    e.preventDefault();
                    let dataEvent = $(this).data('event');
                    let dataContent = $(this).data('content');
                    let dataUrl = $(this).data('url');

                    if (typeof dataUrl !== "undefined") {
                        axios.get(dataUrl)
                             .then((response) => {
                                 if (response.data.success) {
                                     EventBus.$emit(dataEvent, { vehicle: response.data.data });
                                     return;
                                 }
                             })
                    } else {
                        EventBus.$emit(dataEvent, dataContent);
                    }
                });
            };

            function modalServices() {
                $('.modal-services').on('click', function () {
                    let work_order_id = $(this).data('work-order');

                    axios.get(`work-order/services/${work_order_id}`).then((response) => {
                        EventBus.$emit("WORK-ORDER:SERVICES", {
                            data: response.data.data,
                            workOrderId: work_order_id
                        });
                    });
                });
            }

            function modalParts() {
                $('.modal-spareparts').on('click', function () {
                    let work_order_id = $(this).data('work-order');

                    axios.get(`work-order/spareparts/${work_order_id}`).then((response) => {
                        EventBus.$emit("WORK-ORDER:SPAREPARTS", {
                            data: response.data.data,
                            workOrderId: work_order_id
                        });
                    });
                });
            }

            function modalProblems() {
                $('.modal-problems').on('click', function () {
                    let work_order_id = $(this).data('work-order');

                    axios.get(`work-order/problems/${work_order_id}`).then((response) => {
                        EventBus.$emit("WORK-ORDER:PROBLEMS", {
                            data: response.data.data,
                            workOrderId: work_order_id
                        });
                    });
                });
            }

            function modalMechanics() {
                $('.modal-mechanics').on('click', function () {
                    let work_order_id = $(this).data('work-order');

                    axios.get(`work-order/mechanics/${work_order_id}`).then((response) => {
                        EventBus.$emit("WORK-ORDER:MECHANICS", {
                            data: response.data.data,
                            workOrderId: work_order_id
                        });
                    });
                });
            }

            function modalStatus() {
                $('.modal-status').on('click', function () {
                    let status = $(this).data('wo-status');

                    EventBus.$emit("WORK-ORDER:STATUS", status);
                });
            }


            function modalEstimated() {
                $('.modal-estimated').on('click', function () {
                    let content = $(this).data('content');

                    EventBus.$emit("WORK-ORDER:ESTIMATED", content);
                });
            }

            function modalDetail() {
                $('.modal-detail').on('click', function () {
                    let work_order_url = $(this).data('work-order');

                    axios.get(work_order_url).then((response) => {
                        EventBus.$emit("WORK-ORDER:DETAIL", {
                            data: response.data.data,
                        });
                    });
                });
            }

            let draw_counter = 0;
            $.extend( $.fn.dataTable.defaults, {
                autoWidth: false,
                displayLength: 25,
                dom: '<"datatable-header datatable-header-accent"fBlr><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                columnDefs: [
                    { searchable: false, orderable: false, targets: [0, 3, 4, 5, 6]}
                ],
                language: {
                    search: '<span>Pencarian:</span> _INPUT_',
                    searchPlaceholder: 'Cari No. WO/No. Polisi',
                    lengthMenu: '<span>Tampilkan:</span> _MENU_',
                    paginate: { 'first': 'Pertama', 'last': 'Terakhir', 'next': $('html').attr('dir') === 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') === 'rtl' ? '&rarr;' : '&larr;' }
                }
            });

            this.table = $('#work-order-table').DataTable({
                serverSide: true,
                processing: true,
                stateSave: true,
                pageLength: 25,
                order: [[ 1, "desc" ]],
                ajax: this.ajax,
                columns: [
                    {data: 'status', className: "font-weight-bold"},
                    {data: 'code', className: "text-nowrap"},
                    {data: 'plate_number', className: "text-nowrap"},
                    {data: 'detail', className: "text-center"},
                    {data: 'car_return_from'},
                    {data: 'minutes_estimated', className: "text-nowrap text-center"},
                    {data: 'action', className: 'text-center'}
                ],
                scrollX: true,
                scrollY: '350px',
                scrollCollapse: true,
                fixedColumns: {
                    leftColumns: 0,
                    rightColumns: 1
                },
                initComplete: function() {

                },
                drawCallback: function() {
                    if ( draw_counter !== this.fnSettings().iDraw ) {
                        modalServices();
                        modalParts();
                        modalProblems();
                        modalMechanics();
                        modalStatus();
                        modalEstimated();
                        modalDetail();
                        showModal();
                        draw_counter = this.fnSettings().iDraw;
                    }
                }
            });
        },
        created() {
            EventBus.$on("DATATABLE:RELOAD", () => {
                this.table.ajax.reload();
            });
        }
    }
</script>