<template>
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Buat Work Order Baru</h6>
        </div>

        <div class="card-body p-0">
            <b-tabs nav-class="nav nav-tabs-highlight nav-justified" v-model="tabIndex">
                <b-tab active>
                    <div slot="title">
                        <i class="icon-menu7 d-block mb-1 mt-1"></i>
                        Data Kendaraan & Owner
                    </div>

                    <vehicle-owner-form :init-form="form"></vehicle-owner-form>
                </b-tab>
                <b-tab :disabled="tabDisable">
                    <div slot="title">
                        <i class="icon-database-diff d-block mb-1 mt-1"></i>
                        Keluhan & Masalah
                    </div>

                    <fieldset class="p-3">
                        <div class="row">
                            <div class="col-md-12">
                                <problem-form :problems="problems"></problem-form>
                            </div>
                        </div>
                    </fieldset>
                </b-tab>
                <b-tab :disabled="tabDisable">
                    <div slot="title">
                        <i class="icon-server d-block mb-1 mt-1"></i>
                        Service Jasa & Spare Part
                    </div>

                    <fieldset class="p-3">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <service-form :services="services" :service_manuals="service_manuals"
                                              :totalService.sync="totalService"></service-form>
                            </div>

                            <div class="col-md-12">
                                <sparepart-form :spareparts="spareparts"
                                                :parts-price.sync="totalParts"></sparepart-form>
                            </div>
                        </div>
                    </fieldset>
                </b-tab>
                <b-tab :disabled="tabDisable">
                    <div slot="title">
                        <i class="icon-checkmark-circle d-block mb-1 mt-1"></i>
                        Persetujuan WO
                    </div>

                    <work-order-summary
                            :owner="form.owner"
                            :owner_text="form.owner_text"
                            :vehicle="form.vehicle"
                            :vehicle_text="form.vehicle_text"
                            :services="services"
                            :service_manuals="service_manuals"
                            :parts="spareparts"
                            :problems="problems"
                            :total-service-price="totalService"
                            :total-part-price="totalParts"
                            :url-store="url"
                            :url-print="urlPrint"
                            :url-redirect="urlRedirect"
                    ></work-order-summary>
                </b-tab>
            </b-tabs>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" v-on:click="previousTab" class="btn bg-orange ml-3" v-show="tabIndex > 0"><i
                        class="icon-arrow-left5 ml-2"></i> Kembali
                </button>&nbsp;
                <button type="button" v-on:click="nextTab" class="btn bg-blue ml-3" v-show="tabIndex < 3">Selanjutnya <i
                        class="icon-arrow-right5 ml-2"></i></button>
            </div>
        </div>
    </div>
</template>

<script>

    import {WorkOrderStore} from "./wo-store";

    import {Tabs} from 'bootstrap-vue/es/components';
    import {EventBus} from "../../eventbus";
    import ProblemForm from "../partials/ProblemForm";
    import ServiceForm from "../partials/ServiceForm";
    import SparepartForm from "../partials/SparepartForm";
    import VehicleOwnerForm from "../partials/VehicleOwnerForm";
    import WorkOrderSummary from "../partials/WorkOrderSummary";

    export default {
        components: {WorkOrderSummary, VehicleOwnerForm, SparepartForm, ServiceForm, ProblemForm, Tabs},
        name      : "WorkOrderAddForm",
        data() {
            return {
                tabIndex       : 0,
                tabDisable     : true,
                form           : WorkOrderStore.state.tab1,
                problems       : WorkOrderStore.state.tab2.problems,
                services       : WorkOrderStore.state.tab3.services,
                service_manuals: WorkOrderStore.state.tab3.service_manuals,
                spareparts     : WorkOrderStore.state.tab3.parts,
                totalService   : WorkOrderStore.state.tab3.servicesTotalPrice,
                totalParts     : WorkOrderStore.state.tab3.partsTotalPrice
            }
        },
        props     : ['url', 'urlRedirect', 'urlPrint'],
        methods   : {
            nextTab() {
                if (this.tabIndex === 0) {
                    EventBus.$emit('submit-first-tab');
                } else {
                    this.tabIndex++;
                }
            },
            previousTab() {
                this.tabIndex--;
            }
        },
        created() {
            EventBus.$on('validate-success', () => {
                this.tabDisable = false;
                swal(
                    'Data Customer',
                    'Data customer telah lengkap.',
                    'success'
                ).then(() => {
                    this.tabIndex++
                });
            });

            EventBus.$on('revision', () => {
                this.tabIndex = 2;
            });

            this.$root.$on("changed::tab", (payload) => {
                if (payload.currentTab === 3) {
                    if ((this.totalService <= 0)) {
                        swal({
                            title: "Access Denied",
                            text : "Data Masalah, Jasa & Sparepart belum didatakan!",
                            type : "warning"
                        }).then(() => {
                            this.tabIndex = 1;
                        });
                    }
                }
            });
        }
    }
</script>